---
title: Let's connect in the new world!
description: Misskey, A forever evolving, sophisticated microblogging platform. ―― Why don't you leave from a noisy city for a while, and dive into the new network?
---
#toppage
  section#top.loadts
    .texts
      .slogan.h4.font-weight-normal.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Let's connect in the new world!
      h1.font-weight-normal.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Join Misskey
      p.loadts.scrollts-fadeInLeftBig.scrollts-e-4.scrollts-u-5.scrollts-nomargin Misskey is a forever evolving, sophisticated microblogging platform.
    .scnshts
      img(src="/files/images/imports/2019/03/top-deck-1403march19.720c.jpeg" alt="Deck(Desktop)").loadts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2019/03/top-home-1403march19.720c.jpeg" alt="Home(Desktop)").loadts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2019/03/top-mobile-1403march19.720c.jpeg" alt="Mobile").loadts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2019/03/ai_svg.svg" alt="Ai").loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin
      div.small.loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin Ai, the mascot of Misskey
  section#section_1.bg-primary.text-white: .container
    p.text-center Thank you for finding Misskey! Misskey is a #[span.font-weight-bold distributed microblogging] from the Earth. Misskey and other SNS connect each other because it exists in Fediverse (universe composed of various SNS.)
    p.text-center Why don't you leave from a noisy city for a while, and dive into the new network?
    p.mt-1.text-center
      a(href="#section_3").btn.btn-lg.btn-outline-primary.bg-white.mr-2.scrollts.scrollts-flipInX.scrollts-nomargin Let's connect in the new world!
      a(href="wiki/developers/").btn.btn-lg.btn-primary.scrollts.scrollts-flipInX.scrollts-nomargin Join Misskey
  section#section_2.bg-white: .container
    h2.text-center.mt-3 Reasons to begin Misskey
    p.text-center 普段使いのSNSがMisskeyでなければならない理由は、たくさんあります。

    section.s2-item
      h3.text-center Many features
      p.text-center Abilities of Misskey
      p.text-center
        a(href="wiki/").btn.btn-lg.btn-primary.scrollts.scrollts-jackInTheBox
          +fa_fw('book')
          | See the usage in wiki

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comment-alt', 'fas')
              .s2-card-text
                h4 充実した投稿機能
                p.mb-0
                  +fa_fw('i-cursor')
                  | インスタンスごとに設定された#[b 自由な文字数制限]
                p.mb-0
                  +fa_fw('unlock')
                  |  You can #[b configure privacy range] of your post finely
                p.mb-0
                  +fa_fw('eye-slash')
                  |  You can #[b hide] your improper messages or images
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('edit', 'fas')
              .s2-card-text
                h4 Text Formatting
                p.mb-0 Let's decorate your posts and profile! Formatting by Misskey Flavored Markdown is available.
            img(src="/files/images/imports/2019/03/mfm.720.png")
            a(href="wiki/usage/mfm/").s2-card-link.font-weight-bold MFM構文一覧
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('surprise', 'far')
              .s2-card-text
                h4 Reactions
                p.mb-0 投稿への共感を簡単に表現しよう。絵文字を選んで、投稿にリアクションを送れます。
            img(src="/files/images/imports/2019/03/reaction-2.720.png")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('chart-pie', 'fas')
              .s2-card-text
                h4 Poll
                p.mb-0 みんなに意見を聞いてみよう。10個までの選択肢でアンケートを作成できます。複数回答可や有効期限付きにできます。
            img(src="/files/images/imports/2019/03/vote.720.png")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('cloud', 'fas')
              .s2-card-text
                h4 Drive
                p.mb-0 ファイルを保存して何回も共有しよう。添付したファイルをドライブで管理したり、ドライブにあらかじめファイルをアップロードしたりできます。
            img(src="/files/images/imports/2019/03/drive-scrsht.720.png")
        article.col-12.col-md-6.col-xl-4
          .card.image.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('gamepad', 'fas')
              .s2-card-text
                h4 Gaming
                p.mb-0
                  | Let's play together! You can battle with other users.
                  br
                  | In Reversi, users' icon show as stones and you can play with #[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener") customed rule].
            img(src="/files/images/imports/2019/03/reversi.720.png")

    hr#section_2_b

    section.s2-item
      h3.text-center Customizable Interface
      p.text-center You can customize the web client at will.

      .row
        article.col-12.col-md-6.col-xl-4
          .card.image.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('th-large', 'fas')
              .s2-card-text
                h4 Home and Deck
                p.mb-0 大きいタイムラインが中央に1つある「ホーム」か、カラムを配置し複数のタイムラインを見られる「デッキ」のどちらかを選んで利用できます。
            img(src="/files/images/imports/2019/07/home-and-deck.svg")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('calculator', 'fas')
              .s2-card-text
                h4 Widgets
                p.mb-0 小さなウィジェットは様々な情報を表示します。ウィジェットを自由に選んで並べ替えることができます。
            img(src="/files/images/imports/2019/03/widgets.svg")
        article.col-12.col-md-12.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('palette', 'fas')
              .s2-card-text
                h4 自分好みに調整
                p.mb-0 画面に関する多岐にわたるオプションがあり、操作や表示を細かく変更できます。

    hr#section_2_a

    section.s2-item
      h3.text-center Independence and Sociality
      p.text-center You can determine an owner by your intention, or you can manage your own instance.

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('globe', 'fas')
              .s2-card-text
                h4 Fediverse
                p.mb-0
                  | MisskeyはActivityPubというWeb標準規格のサーバー間通信機能を持っているため、
                  | 違うインスタンスや#[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") 他のサービス]のユーザーをフォローしたり投稿を見て反応したりすることができます。
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('server', 'fas')
              .s2-card-text
                h4 Easy server building
                p.mb-0 Misskeyのインストールは簡単です。自分のSNSを持つことができます。
            a(href="wiki/developers/").s2-card-link.font-weight-bold インスタンスの構築・管理について<br>詳しく見る

    hr#section_2_c

    section.s2-item
      h3.text-center Open source
      p.text-center Misskeyはオープンソースソフトウェアです。誰でも開発や翻訳に参加することができます。リポジトリをフォークし、独自の拡張を追加することもできます。
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2.scrollts.scrollts-zoomIn
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning.scrollts.scrollts-zoomIn
          | Crowdin(to translate)

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .font-size-16: +fa_fw('code', 'fas')
              .s2-card-text
                h4 API
                p.mb-0 Make your apps and clients to make your life better. You can use almost all features of Misskey in your apps. リバーシBotと対戦し、今聞いている曲をみんなに知らせましょう！
            a(href="https://misskey.io/api-doc" target="_blank" rel="noopener").s2-card-link.font-weight-bold  Misskey API
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .font-size-16: +fa_fw('balance-scale', 'fas')
              .s2-card-text
                h4 AGPLv3
                p.mb-0 Misskey is licensed under GNU Affero General Public License v3.0 (AGPLv3).
            a(href="https://github.com/syuilo/misskey/blob/master/LICENSE" target="_blank" rel="noopener").s2-card-link.font-weight-bold  ライセンス

  section#section_3.bg-dark.text-white: .container
    h2.text-center Getting started
    p.text-center Let's register your account in any instance!
    p.text-center You can talk with users in other instances. Instance URL is part of your ID.
    hr.my-4
    h3#instances List of recommended instances
    +instancesList('selected', ['light', 'white-50', 'dark', 'dark'], 'fadeInUp')
    p.text-center.my-2
      a(href="./wiki/instances/").scrollts-nomargin.btn.btn-primary.btn-sm Watch more...

    p.text-white-50.pt-2 We will add new instances continuously. If you want us to add instances to the list, please send to @aqz@yuzulia.xyz.
  
  section#section_4.bg-success: .container.text-center.text-white
    .row
      .col-12.col-md-6
        .py-3
          a(href="./blog/").btn.btn-lg.btn-light.text-success
            +fa("broadcast-tower")
            |  Blog
          p.mt-1.mb-0.p-0 Notify release notes at any time.
      .col-12.col-md-6.scrollts-e-1
        .py-3
          a(href="./credit/").btn.btn-lg.btn-light.text-success
            +fa("users")
            |  Credits
          p.mt-1.mb-0.p-0 People who join in Misskey development.

  section#section_6.bg-white: .container.text-center.text-dark
    h2 Misskey is now in internet news! (In Japanese)
    p.m-0
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT")

  section#section_7: .container
    h2.text-center Support contributors
    p.text-center
      a(href="./credit/#patrons").btn.btn-lg.btn-light.text-primary.mr-2
        | List of sponsers
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary
        | List of donators

    hr.my-4
    h3.text-center Support misskey
    p.text-center
      | Do you like misskey? Misskey is developed by individuals. It's free and open-source.
      br
      | ユーザーの操作を邪魔しないようにMisskeyには広告が付けられていませんが、開発のために少なくない支出が発生しています。
      br
      | Please support misskey development.
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('patreon', 'fab')
      | To be a patron
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('amazon', 'fab')
      | Wish list
    a(href="https://www.bountysource.com/teams/misskey" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      | Bountysource
    p.text-center ... or #[a(href="https://misskey.io/@syuilo" target="_blank" rel="noopener") contact the developer]
    p.text-center
      a(href="wiki/about-jm/").btn.btn-primary.btn-lg Support joinmisskey
