---
title: 新しい世界で繋がろう
description: Misskeyは、いつまでも進化する、洗練されたマイクロブログSNSです。暫し都会の喧騒から離れて、新しいインターネットにダイブしてみませんか。
---
#toppage
  section#top.loadts
    .texts
      .slogan.h4.font-weight-normal.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin 新しい世界で<wbr>繋がろう
      h1.font-weight-normal.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Misskeyを<wbr>はじめよう
      p.loadts.scrollts-fadeInLeftBig.scrollts-e-4.scrollts-u-5.scrollts-nomargin いつまでも進化する、<wbr>洗練されたマイクロブログSNS <wbr>Misskey（ミスキー）
    .scnshts
      img(src="/files/images/imports/2019/03/top-deck-1403march19.720c.jpeg" alt="Deck(Desktop)").loadts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2019/03/top-home-1403march19.720c.jpeg" alt="Home(Desktop)").loadts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2019/03/top-mobile-1403march19.720c.jpeg" alt="Mobile").loadts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2019/03/ai_svg.svg" alt="Ai").loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin
      div.small.loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin Misskeyマスコット 藍（Ai）
  section#section_1.bg-primary.text-white: .container
    p.text-center Misskeyを見つけていただき、ありがとうございます。Misskeyは、地球で生まれた#[span.font-weight-bold 分散マイクロブログSNS]です。Fediverse（様々なSNSで構成される宇宙）の中に存在するため、他のSNSと相互に繋がっています。
    p.text-center 暫し都会の喧騒から離れて、新しいインターネットにダイブしてみませんか。
    p.mt-1.text-center
      a(href="#section_3").btn.btn-lg.btn-outline-primary.bg-white.mr-2.scrollts.scrollts-flipInX.scrollts-nomargin はじめる
      a(href="wiki/developers/").btn.btn-lg.btn-primary.scrollts.scrollts-flipInX.scrollts-nomargin 運営する
  section#section_dolphin(style="background-color: #50a6c9").text-white: a(href="https://github.com/syuilo/dolphin" target="_blank" rel="noopener").d-block.text-white.text-center.container
    img(src="/files/images/imports/2019/10/dolphin-w.svg" alt="dolphin" style="width: 40%; max-width: 16rem").scrollts.scrollts-zoomIn
    p.mt-4.mb-0 小規模インスタンス用Fediverseサーバーソフトウェア#[b  dolphin]#[br]まもなくリリース。
  section#section_2.bg-white: .container
    h2.text-center.mt-3 Misskeyをはじめる理由
    p.text-center 普段使いのSNSがMisskeyでなければならない理由は、たくさんあります。

    section.s2-item
      h3.text-center 多くの機能
      p.text-center Misskeyでできることはたくさんあります。
      p.text-center
        a(href="wiki/").btn.btn-lg.btn-primary.scrollts.scrollts-jackInTheBox
          +fa_fw('book')
          | Wikiで使い方を見る

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comment-alt', 'fas')
              .s2-card-text
                h4 充実した投稿機能
                p.mb-0
                  +fa_fw('i-cursor')
                  | インスタンスごとに設定された#[b 自由な文字数制限]
                p.mb-0
                  +fa_fw('unlock')
                  |  #[b 公開範囲]を投稿ごとに細かく設定
                p.mb-0
                  +fa_fw('eye-slash')
                  |  長い文章や不適切な画像を#[b 隠して公開]
            a(href="wiki/usage/post/").s2-card-link.font-weight-bold ノートの詳細
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('edit', 'fas')
              .s2-card-text
                h4 文字装飾
                p.mb-0 投稿やプロフィールを装飾しよう。装飾構文(Misskey Flavored Markdown)を利用できます。
            img(src="/files/images/imports/2019/03/mfm.720.png")
            a(href="wiki/usage/mfm/").s2-card-link.font-weight-bold MFM構文一覧
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('surprise', 'far')
              .s2-card-text
                h4 リアクション
                p.mb-0 投稿への共感を簡単に表現しよう。絵文字を選んで、投稿にリアクションを送れます。
            img(src="/files/images/imports/2019/03/reaction-2.720.png")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('chart-pie', 'fas')
              .s2-card-text
                h4 アンケート
                p.mb-0 みんなに意見を聞いてみよう。10個までの選択肢でアンケートを作成できます。複数回答可や有効期限付きにできます。
            img(src="/files/images/imports/2019/03/vote.720.png")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('cloud', 'fas')
              .s2-card-text
                h4 ドライブ
                p.mb-0 ファイルを保存して何回も共有しよう。添付したファイルをドライブで管理したり、ドライブにあらかじめファイルをアップロードしたりできます。
            img(src="/files/images/imports/2019/03/drive-scrsht.720.png")
            a(href="wiki/usage/drive/").s2-card-link.font-weight-bold ドライブの詳細
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('gamepad', 'fas')
              .s2-card-text
                h4 ゲーム
                p.mb-0
                  | みんなで遊ぼう。他のユーザーとゲームを対戦できます。
                  br
                  | 「リバーシ」はユーザーのアイコンが石として表示されるほか#[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener") 変則ルール]でも遊ぶことができます。
            img(src="/files/images/imports/2019/03/reversi.720.png")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comments', 'far')
              .s2-card-text
                h4 トーク
                p.mb-0
                  | チャットしよう。
                  br
                  | ノートとは別の専用画面で、一対一もしくはグループでチャットができます。
            img(src="/files/images/imports/2019/10/talk.720.png")
            a(href="wiki/usage/messaging/").s2-card-link.font-weight-bold トークの詳細
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('sticky-note', 'far')
              .s2-card-text
                h4 ページ
                p.mb-0
                  | ジェネレーターを作ったり、文章を書いたりしよう。
                  br
                  | ページでは、テキストやセクションといったブロックを配置し、簡単なプログラムを組めます。
            img(src="/files/images/imports/2019/10/page.720.png")
            a(href="wiki/usage/pages/").s2-card-link.font-weight-bold ページの詳細
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('door-open', 'fas')
              .s2-card-text
                h4 ルーム
                p.mb-0
                  | いろいろな家具を配置して自分の部屋を作ろう。
                  br
                  | 作成したルームはURLでみんなと共有できます。
            img(src="/files/images/imports/2019/10/room.720.png")
            a(href="wiki/usage/rooms/").s2-card-link.font-weight-bold ルームの詳細

    hr#section_2_b

    section.s2-item
      h3.text-center カスタマイズ性の高い画面
      p.text-center MisskeyのWebクライアントはあなたの好みで自在に設定できます。

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('th-large', 'fas')
              .s2-card-text
                h4 ホームとデッキ
                p.mb-0 大きいタイムラインが中央に1つある「ホーム」か、カラムを配置し複数のタイムラインを見られる「デッキ」のどちらかを選んで利用できます。
            img(src="/files/images/imports/2019/07/home-and-deck.svg")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('calculator', 'fas')
              .s2-card-text
                h4 ウィジェット
                p.mb-0 小さなウィジェットは様々な情報を表示します。ウィジェットを自由に選んで並べ替えることができます。
            img(src="/files/images/imports/2019/03/widgets.svg")
        article.col-12.col-md-12.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('palette', 'fas')
              .s2-card-text
                h4 自分好みに調整
                p.mb-0 画面に関する多岐にわたるオプションがあり、操作や表示を細かく変更できます。

    hr#section_2_a

    section.s2-item
      h3.text-center 独立性と社会性
      p.text-center あなたの意志で運営者を選択する、もしくはあなた自身でサーバーを運営することもできます。

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('globe', 'fas')
              .s2-card-text
                h4 Fediverse
                p.mb-0
                  | MisskeyはActivityPubというWeb標準規格のサーバー間通信機能を持っているため、
                  | 違うインスタンスや#[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") 他のサービス]のユーザーをフォローしたり投稿を見て反応したりできます。
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('server', 'fas')
              .s2-card-text
                h4 簡単なインスタンス構築
                p.mb-0 Misskeyのインストールは簡単です。自分のSNSを持つことができます。
            a(href="wiki/developers/").s2-card-link.font-weight-bold インスタンスの構築・管理について<br>詳しく見る

    hr#section_2_c

    section.s2-item
      h3.text-center オープン
      p.text-center Misskeyはオープンソースソフトウェアです。誰でも開発や翻訳に参加できます。リポジトリをフォークし、独自の拡張を追加することもできます。
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2.scrollts.scrollts-zoomIn
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning.scrollts.scrollts-zoomIn
          | Crowdin(翻訳)

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .font-size-16: +fa_fw('code', 'fas')
              .s2-card-text
                h4 API
                p.mb-0 アプリやクライアントを作って生活に役立てよう。MisskeyのほぼすべてのAPIエンドポイントを外部から利用できます。リバーシBotと対戦し、今聞いている曲をみんなに知らせましょう！
            a(href="https://misskey.io/api-doc" target="_blank" rel="noopener").s2-card-link.font-weight-bold  Misskey API
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .font-size-16: +fa_fw('balance-scale', 'fas')
              .s2-card-text
                h4 AGPLv3
                p.mb-0 MisskeyはGNU Affero General Public License v3.0 (AGPLv3)の下で二次利用できます。
            a(href="https://github.com/syuilo/misskey/blob/master/LICENSE" target="_blank" rel="noopener").s2-card-link.font-weight-bold  ライセンス

  section#section_3.bg-dark.text-white: .container
    h2.text-center さっそくはじめよう
    p.text-center まずはどこか既存のインスタンスに登録してみてください！
    p.text-center Misskeyは他のインスタンスのユーザーともフォローや会話ができます。インスタンスのURLはあなたのIDの一部になります。
    hr.my-4
    h3#instances おすすめインスタンス一覧
    +instancesList('selected', ['light', 'white-50', 'dark', 'dark'], 'fadeInUp')
    p.text-center.my-2
      a(href="./wiki/instances/").scrollts-nomargin.btn.btn-primary.btn-sm インスタンスをもっと見る

    p.text-white-50.pt-2 インスタンスは順次掲載します。リストに載せてほしいインスタンスがありましたら、@aqz@yuzulia.xyzまでお知らせください。
  
  section#section_4.bg-success: .container.text-center.text-white
    .row
      .col-12.col-md-6
        .py-3
          a(href="./blog/").btn.btn-lg.btn-light.text-success
            +fa("broadcast-tower")
            |  ブログ
          p.mt-1.mb-0.p-0 更新の内容などを随時お知らせします。
      .col-12.col-md-6.scrollts-e-1
        .py-3
          a(href="./credit/").btn.btn-lg.btn-light.text-success
            +fa("users")
            |  クレジット
          p.mt-1.mb-0.p-0 Misskeyの開発に関わってくださった方々です。

  section#section_6.bg-white: .container.text-center.text-dark
    h2 記事になりました
    p.m-0
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT")

  section#section_7: .container
    h2.text-center 支援
    p.text-center
      a(href="./credit/#patrons").btn.btn-lg.btn-light.text-primary.mr-2
        | 協賛者一覧
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary
        | 寄付者一覧

    hr.my-4
    h3.text-center Misskeyを支援する
    p.text-center
      | Misskeyがお気に入りですか？Misskeyは自由でオープンソースです。
      br
      | ユーザーの操作を邪魔しないようにMisskeyには広告が付けられていませんが、開発のために少なくない支出が発生しています。
      br
      | ぜひMisskeyの開発にご支援ください。
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('patreon', 'fab')
      | syuiloのパトロンになる
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('amazon', 'fab')
      | ほしいものリスト
    a(href="https://www.bountysource.com/teams/misskey" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      | Bountysource
    p.text-center または#[a(href="https://misskey.io/@syuilo" target="_blank" rel="noopener") syuiloに問い合わせる]
    p.text-center
      a(href="wiki/about-jm/").btn.btn-primary.btn-lg joinmisskeyを支援する
