---
title: 新しい世界で繋がろう
description: 地球で生まれた分散マイクロブログSNS Misskey ―― 暫し都会の喧騒から離れて、新しいインターネットにダイブしてみませんか。
---
#toppage
  section#top.scrollts
    .texts
      .slogan.h4.font-weight-normal.scrollts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-nomargin 新しい世界で<wbr>繋がろう
      h1.font-weight-normal.scrollts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-nomargin Misskeyを<wbr>はじめよう
      p.scrollts.scrollts-fadeInLeftBig.scrollts-e-4.scrollts-nomargin=(site.descriptions[locale] || site.description)
    .scnshts
      img(src="/files/images/imports/2018/10/v10ui-home.720c.jpeg" alt="Home(Desktop)").scrollts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2018/10/v10ui-deck.720c.jpeg" alt="Deck(Desktop)").scrollts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2018/10/v10ui-mobile.720c.jpeg" alt="Mobile").scrollts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2018/09/ai_svg.svg" alt="Ai").scrollts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin
      div.small.scrollts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin Ai est la mascotte de Misskey
  section#section_1.pt-5.pb-4.bg-primary.text-white: .container
    p.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin Misskeyを見つけていただき、ありがとうございます。Misskeyは、地球で生まれた#[span.font-weight-bold 分散マイクロブログSNS]です。Fediverse(様々なSNSで構成される宇宙)の中に存在するため、他のSNSと相互に繋がっています。
    p.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin Envie de plonger, pendant un instant, dans le nouveau Web loin de l'agitation de la ville.
    p.mt-1.text-center
      a(href="#section_3").btn.btn-lg.btn-outline-primary.bg-white.mr-2.scrollts.scrollts-flipInX.scrollts-nomargin Utilisation
      a(href="wiki/developers/").btn.btn-lg.btn-primary.scrollts.scrollts-flipInX.scrollts-nomargin Administration
  section#section_2.py-5.bg-white: .container
    h2.text-center.mt-3.scrollts.scrollts-rotateIn Pourquoi choisir Misskey ?

    hr.my-5#section_2_0

    section.s2-item
      h3.text-center.scrollts.scrollts-fadeIn Hautement personnalisable
      p.text-center.scrollts.scrollts-fadeIn Le client Web de Misskey peut être configuré librement afin de s'adapter à vos préférences.

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('th-large', 'fas')
              .s2-card-text
                h4 L'accueil et le Deck (Bureau)
                p.mb-0 大きいタイムラインが中央に1つある「ホーム」と、カラムを配置し複数のタイムラインを見られる「デッキ」とを利用できます。
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('calculator', 'fas')
              .s2-card-text
                h4 Widgets
                p.mb-0 Des petits widgets personnalisés affichant diverses informations et déplaçables facilement.
        article.col-12.col-md-12.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('cogs', 'fas')
              .s2-card-text
                h4 Ajustement à votre convenance
                p.mb-0 多岐にわたるオプションがあり、操作や表示を細かく変更できます。

    hr.my-5#section_2_a

    section.s2-item
      h3.text-center.scrollts.scrollts-fadeIn Nombreuses fonctionnalités
      p.text-center.scrollts.scrollts-fadeIn Vous pouvez faire un tas de choses sur Misskey.
      p.text-center
        a(href="wiki/usage/").btn.btn-lg.btn-primary.scrollts.scrollts-jackInTheBox
          +fa_fw('book')
          | Consulter les différents usages sur le Wiki

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('comment-alt', 'fas')
              .s2-card-text
                p.mb-0
                  +fa_fw('i-cursor')
                  |  Une publication peut contenir#[b 1000 caractères]
                p.mb-0
                  +fa_fw('unlock')
                  |  #[b Configuration fine des règles de confidentialié des publications]
                p.mb-0
                  +fa_fw('eye-slash')
                  |  Vous pouvez cacher vos messages et médias sensibles
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('edit', 'fas')
              .s2-card-text
                h4 Texte formaté
                p.mb-0 Vous pouvez décorer votre texte ainsi que votre profile à l'aide du formatage Markdown de Misskey.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('surprise', 'far')
              .s2-card-text
                h4 Réactions
                p.mb-0 Exprimez vos réactions aux publications à l'aide de 10 émojis que vous pouvez attacher aux posts.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('chart-pie', 'fas')
              .s2-card-text
                h4 Sondages
                p.mb-0 Demandez l'opinion des autres grâce aux sondages. Vous pouvez créer jusqu'à 10 choix de réponses.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('cloud', 'fas')
              .s2-card-text
                h4 Un lecteur (Drive)
                p.mb-0 Sauvegardez vos images et partagez les à n'importe quel moment ! Vous pouvez gérer les images attachées à vos publications directement sur votre Drive.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('gamepad', 'fas')
              .s2-card-text
                h4 Jeux
                p.mb-0
                  | Jouons ensemble. Vous pouvez jouer contre d'autres utilisateurs.
                  br
                  | 「リバーシ」はユーザーのアイコンが石として表示されるほか#[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener") 変則ルール]でも遊ぶことができます。

    hr.my-5#section_2_b

    section.s2-item
      h3.text-center.scrollts.scrollts-fadeIn Indépendance et Sociabilité
      p.text-center.scrollts.scrollts-fadeIn Vous pouvez choisir de créer votre compte sur l'instance qui vous convient ou d'installer votre propre instance.

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('globe', 'fas')
              .s2-card-text
                h4 Fediverse
                p.mb-0
                  | Misskey supporte le protocole Web de communication inter-serveurs appelé ActivityPub,
                  | #[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") 他のサービス] et fédère de ce fait avec les autres services.
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('server', 'fas')
              .s2-card-text
                h4 Hébergez et installez votre propre serveur
                p.mb-0 L'installation de votre propre instance Misskey est très facile.
            a(href="wiki/developers/").s2-card-link.font-weight-bold Créez votre instance

    hr.my-5#section_2_c

    section.s2-item
      h3.text-center.scrollts.scrollts-rotateIn Libre et Ouvert
      p.text-center.scrollts.scrollts-fadeIn Misskey est un logiciel libre. Vous pouvez participer à son développement ainsi qu'à sa traduction. Vous pouvez également y ajouter vos propres extensions.
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2.scrollts.scrollts-zoomIn
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning.scrollts.scrollts-zoomIn
          | Crowdin (traduction)

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .font-size-16: +fa_fw('code', 'fas')
              .s2-card-text
                h4 API
                p.mb-0 アプリやクライアントを作って生活に役立てよう。MisskeyのほぼすべてのAPIエンドポイントを、アプリを作成して利用することができます。          
            a(href="https://misskey.xyz/docs/ja-JP/api" target="_blank" rel="noopener").s2-card-link.font-weight-bold API Misskey
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .font-size-16: +fa_fw('balance-scale', 'fas')
              .s2-card-text
                h4 AGPLv3
                p.mb-0 Misskey est sous licence GNU Affero General Public License v3.0 (AGPLv3).
            a(href="https://github.com/syuilo/misskey/blob/master/LICENSE" target="_blank" rel="noopener").s2-card-link.font-weight-bold  Licence

  #section_3.bg-dark.text-white.py-5: .container
    h2.text-center.scrollts.scrollts-fadeIn Comment débuter ?
    p.text-center.scrollts.scrollts-fadeIn Commencez par vous inscrire en creant un compte sur une instance existante !
    p.text-center.scrollts.scrollts-fadeIn Avec votre compte Misskey vous pouvez, alors, vous abonner et discuter avec les autres utilisateurs inscrits sur d'autres instances. Le domaine de l'instance fera partie de votre identifiant.
    hr.my-4
    h3#instances.scrollts.scrollts-fadeIn Liste des instances recommandées
    +instancesList('selected', ['light', 'white-50', 'dark', 'dark'], 'fadeInUp')
    a(href="./wiki/instances/").scrollts-nomargin.btn.btn-link.btn-block.scrollts.scrollts-fadeIn Découvrir plus ...

    p.text-white-50.pt-2 Nous rajoutons continuellement de nouvelles instances. Si vous désirez lister votre propre instance, merci de contacter @aqz@misskey.xyz
  
  #section_4.py-4.bg-success: .container.text-center.text-white
    .row
      .col-12.col-md-6.scrollts.scrollts-flipInX
        .py-3
          a(href="./blog/").btn.btn-lg.btn-light.text-success
            +fa("broadcast-tower")
            |  Blog
          p.mt-1.mb-0.p-0 Actualité des nouveautés apportées à Misskey, à tout moment.
      .col-12.col-md-6.scrollts.scrollts-flipInX.scrollts-e-1
        .py-3
          a(href="./credit/").btn.btn-lg.btn-light.text-success
            +fa("users")
            |  Crédits
          p.mt-1.mb-0.p-0 Les personnes impliquées dans le développement de Misskey.

  #section_6.bg-white.py-5: .container.text-center.text-black
    h2.scrollts.scrollts-rotateIn Articles
    p.scrollts.scrollts-fadeIn.m-0
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT")

  #section_7.pt-5.pb-4: .container
    h2.text-center.scrollts.scrollts-fadeIn Soutenir le projet
    p.text-center
      a(href="./credit/#patrons").btn.btn-lg.btn-light.text-primary.mr-2.scrollts.scrollts-fadeInDownSmall
        | Liste des Mécènes
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary.scrollts.scrollts-fadeInDownSmall.scrollts-e-1
        | Liste des donateurs

    hr.my-4
    h3.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin Soutenir Misskey
    p.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin
      | Misskey est un projet libre et open source développé par des personnes comme vous. Vous aimez le projet ?
      br
      | Nous avons beaucoup de frais à payer et Misskey n'inclue aucune publicité.
      br
      | Merci de nous soutenir en participant au développement de Misskey.
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2.scrollts.scrollts-zoomIn.scrollts-nomargin
      +fa_fw('patreon', 'fab')
      | Pour les donations
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2.scrollts.scrollts-zoomIn.scrollts-nomargin
      +fa_fw('amazon', 'fab')
      | Liste de souhaits
    p.text-center.scrollts.scrollts-lightSpeedIn.scrollts-nomargin Ou contactez #[a(href="https://misskey.xyz/@syuilo" target="_blank" rel="noopener") le développeur]
