---
title: Let's connect in the new world!
description: Misskey, a distributed microblogging from the Earth ―― Why don't you leave from a noisy city for a while, and dive into the new network?
---
#toppage
  section#top.scrollts
    .texts
      .slogan.h4.font-weight-normal.scrollts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-nomargin Let's connect in the new world!
      h1.font-weight-normal.scrollts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-nomargin Join Misskey
      p.scrollts.scrollts-fadeInLeftBig.scrollts-e-4.scrollts-nomargin=(site.descriptions[locale] || site.description)
    .scnshts
      img(src="/files/images/imports/2018/10/v10ui-home.720c.jpeg" alt="Home(Desktop)").scrollts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2018/10/v10ui-deck.720c.jpeg" alt="Deck(Desktop)").scrollts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2018/10/v10ui-mobile.720c.jpeg" alt="Mobile").scrollts.scrollts-e-1.scrollts-nomargin
      img(src="/files/images/imports/2018/09/ai_svg.svg" alt="Ai").scrollts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin
      div.small.scrollts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin Ai, the mascot of Misskey
  section#section_1.pt-5.pb-4.bg-primary.text-white: .container
    p.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin Thank you for finding Misskey! Misskey is a #[span.font-weight-bold distributed microblogging] from the Earth. Misskey and other SNS connect each other because it exists in Fediverse (universe composed of various SNS.)
    p.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin Why don't you leave from a noisy city for a while, and dive into the new network?
    p.mt-1.text-center
      a(href="#section_3").btn.btn-lg.btn-outline-primary.bg-white.mr-2.scrollts.scrollts-flipInX.scrollts-nomargin Let's connect in the new world!
      a(href="wiki/developers/").btn.btn-lg.btn-primary.scrollts.scrollts-flipInX.scrollts-nomargin Join Misskey
  section#section_2.py-5.bg-white: .container
    h2.text-center.mt-3.scrollts.scrollts-rotateIn Reasons to begin Misskey

    hr.my-5#section_2_0

    section.s2-item
      h3.text-center.scrollts.scrollts-fadeIn Customizable Interface
      p.text-center.scrollts.scrollts-fadeIn MisskeyのWebクライアントはあなたの好みに合わせて自在に設定できます。

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('th-large', 'fas')
              .s2-card-text
                h4 Home and Deck (Desktop)
                p.mb-0 大きいタイムラインが中央に1つある「ホーム」と、カラムを配置し複数のタイムラインを見られる「デッキ」とを利用できます。
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('calculator', 'fas')
              .s2-card-text
                h4 Widgets
                p.mb-0 小さなウィジェットは様々な情報を表示し、自由に並べ替えることができます。
        article.col-12.col-md-12.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('cogs', 'fas')
              .s2-card-text
                h4 自分好みに調整
                p.mb-0 多岐にわたるオプションがあり、操作や表示を細かく変更できます。

    hr.my-5#section_2_a

    section.s2-item
      h3.text-center.scrollts.scrollts-fadeIn Many features
      p.text-center.scrollts.scrollts-fadeIn Abilities of Misskey
      p.text-center
        a(href="wiki/usage/").btn.btn-lg.btn-primary.scrollts.scrollts-jackInTheBox
          +fa_fw('book')
          | See the usage in wiki

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('comment-alt', 'fas')
              .s2-card-text
                p.mb-0
                  +fa_fw('i-cursor')
                  |  A post can contain #[b 1000 characters]
                p.mb-0
                  +fa_fw('unlock')
                  |  You can #[b configure privacy range] of your post finely
                p.mb-0
                  +fa_fw('eye-slash')
                  |  You can #[b hide] your improper messages or images
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('edit', 'fas')
              .s2-card-text
                h4 Text Formatting
                p.mb-0 Let's decorate your posts and profile! Formatting by Misskey Flavored Markdown is available.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('surprise', 'far')
              .s2-card-text
                h4 Reactions
                p.mb-0 Let's express your sympathy for posts easily! You can choose 10 kinds of emoticon and attach to posts.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('chart-pie', 'fas')
              .s2-card-text
                h4 Poll
                p.mb-0 Let's ask opinions! Let's ask opinions to everyone. You can create up to 10 choices.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('cloud', 'fas')
              .s2-card-text
                h4 Drive
                p.mb-0 Save your photos and share it again! You can manage pictures you attached to posts in your drive.
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('gamepad', 'fas')
              .s2-card-text
                h4 Gaming
                p.mb-0
                  | Let's play together! You can battle with other users.
                  br
                  | In Reversi, users' icon show as stones and you can play with #[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener") customed rule].

    hr.my-5#section_2_b

    section.s2-item
      h3.text-center.scrollts.scrollts-fadeIn Independence and Sociality
      p.text-center.scrollts.scrollts-fadeIn You can determine an owner by your intention, or you can manage your own instance.

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('globe', 'fas')
              .s2-card-text
                h4 Fediverse
                p.mb-0
                  | Misskey and #[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") other SNS] connect each other because it exists in the Fediverse (universe composed of various SNS.)
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .s2-card-icon.font-size-16: +fa_fw('server', 'fas')
              .s2-card-text
                h4 Easy server building
                p.mb-0 It's easy to construct a Misskey server.
            a(href="wiki/developers/").s2-card-link.font-weight-bold Make your instance

    hr.my-5#section_2_c

    section.s2-item
      h3.text-center.scrollts.scrollts-rotateIn Open source
      p.text-center.scrollts.scrollts-fadeIn Misskey is a open-source software. You can join in development and translation. You can add your own extension.
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2.scrollts.scrollts-zoomIn
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning.scrollts.scrollts-zoomIn
          | Crowdin(to translate)

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .font-size-16: +fa_fw('code', 'fas')
              .s2-card-text
                h4 API
                p.mb-0 Make your apps and clients to make your life better. You can use almost all features of Misskey in your apps.          
            a(href="https://misskey.xyz/docs/ja-JP/api" target="_blank" rel="noopener").s2-card-link.font-weight-bold  Misskey API
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInUpSmall
            .s2-card-grid
              .font-size-16: +fa_fw('balance-scale', 'fas')
              .s2-card-text
                h4 AGPLv3
                p.mb-0 Misskey is licensed under GNU Affero General Public License v3.0 (AGPLv3).
            a(href="https://github.com/syuilo/misskey/blob/master/LICENSE" target="_blank" rel="noopener").s2-card-link.font-weight-bold  ライセンス

  #section_3.bg-dark.text-white.py-5: .container
    h2.text-center.scrollts.scrollts-fadeIn Getting started
    p.text-center.scrollts.scrollts-fadeIn Let's register your account in any instance!
    p.text-center.scrollts.scrollts-fadeIn You can talk with users in other instances. Instance URL is part of your ID.
    hr.my-4
    h3#instances.scrollts.scrollts-fadeIn List of recommended instances
    +instancesList('selected', ['light', 'white-50', 'dark', 'dark'], 'fadeInUp')
    a(href="./wiki/instances/").scrollts-nomargin.btn.btn-link.btn-block.scrollts.scrollts-fadeIn Watch more...

    p.text-white-50.pt-2 We will add new instances continuously. If you want us to add instances to the list, please send to @aqz@misskey.xyz.
  
  #section_4.py-4.bg-success: .container.text-center.text-white
    .row
      .col-12.col-md-6.scrollts.scrollts-flipInX
        .py-3
          a(href="./blog/").btn.btn-lg.btn-light.text-success
            +fa("broadcast-tower")
            |  Blog
          p.mt-1.mb-0.p-0 Notify release notes at any time.
      .col-12.col-md-6.scrollts.scrollts-flipInX.scrollts-e-1
        .py-3
          a(href="./credit/").btn.btn-lg.btn-light.text-success
            +fa("users")
            |  Credits
          p.mt-1.mb-0.p-0 People who join in Misskey development.

  #section_6.bg-white.py-5: .container.text-center.text-black
    h2.scrollts.scrollts-rotateIn Misskey is now in internet news! (In Japanese)
    p.scrollts.scrollts-fadeIn.m-0
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT")

  #section_7.pt-5.pb-4: .container
    h2.text-center.scrollts.scrollts-fadeIn Support contributors
    p.text-center
      a(href="./credit/#patrons").btn.btn-lg.btn-light.text-primary.mr-2.scrollts.scrollts-fadeInDownSmall
        | List of sponsers
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary.scrollts.scrollts-fadeInDownSmall.scrollts-e-1
        | List of donators

    hr.my-4
    h3.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin Support misskey
    p.text-center.scrollts.scrollts-fadeIn.scrollts-nomargin
      | Do you like misskey? Misskey is developed by individuals. It's free and open-source.
      br
      | We pay so much money. Misskey has no ads.
      br
      | Please support misskey development.
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2.scrollts.scrollts-zoomIn.scrollts-nomargin
      +fa_fw('patreon', 'fab')
      | To be a patron
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2.scrollts.scrollts-zoomIn.scrollts-nomargin
      +fa_fw('amazon', 'fab')
      | Wish list
    p.text-center.scrollts.scrollts-lightSpeedIn.scrollts-nomargin ... or contact #[a(href="https://misskey.xyz/@syuilo" target="_blank" rel="noopener") the developer]
