---
title: Let's connect in the new world!
description: Misskey, a distributed microblogging from the Earth ―― Why don't you leave from a noisy city for a while, and dive into the new network?
layout: root
---
#toppage
  #top
    .texts
      .slogan.h4.font-weight-normal Let's connect in the new world!
      h1.font-weight-normal Join Misskey
      p=(site.descriptions[locale] || site.description)
    .scnshts
      img(src="/files/images/scnshts/scnsht.home.720c.jpeg" alt="Home(Desktop)")
      img(src="/files/images/scnshts/scnsht.deck.720c.jpeg" alt="Deck(Desktop)")
      img(src="/files/images/scnshts/scnsht.mobile.720c.jpeg" alt="Mobile")
      img(src="/files/images/imports/2018/09/ai_svg.svg" alt="Ai")
      div.small Misskeyマスコット 藍(Ai)
  #section_1.pt-5.pb-4.bg-primary.text-white: .container
    p.text-center Thank you for finding Misskey! Misskey is a #[span.font-weight-bold distributed microblogging] from the Earth. Misskey and other SNS connect each other because it exists in Fediverse (universe composed of various SNS.)
    p.text-center Why don't you leave from a noisy city for a while, and dive into the new network?
    p.mt-1.text-center
      a(href="#section_3").btn.btn-lg.btn-outline-primary.bg-white.mr-2 Getting started
      a(href="wiki/developers/").btn.btn-lg.btn-primary Manage and develop
  #section_2.py-5.bg-white: .container
    h2.text-center A reason to begin Misskey

    hr.my-4#section_2_0

    .s2-item
      h3.text-center 先進的で馴染みある操作
      p.text-center 

      ul.fa-ul.row.mr-0.ml-md-0
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('th-large', 'fas')
          h4 ホームとデッキ(デスクトップ)
          | デスクトップでは、お好みで大きいタイムラインが中央に1つある「ホーム」と、カラムを配置し複数のタイムラインを見られる「デッキ」とを利用できます。
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('calculator', 'fas')
          h4 ウィジェット
          | 小さなウィジェットは様々な情報を表示し、自由に並べ替えることができます。
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('cogs', 'fas')
          h4 高いカスタマイズ性
          | 多岐にわたるオプションがあり、操作や表示を細かく変更できます。

    hr.my-4#section_2_a

    .s2-item
      h3.text-center Many features
      p.text-center Abilities of Misskey

      ul.fa-ul.row.mr-0.ml-md-0
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('comment-alt', 'fas')
          h4
            +fa_fw('i-cursor')
            |  1 posts can contain 1000 characters
          h4
            +fa_fw('unlock')
            |  You can configure privaty range of your post finely
          h4
            +fa_fw('eye-slash')
            |  You can hide your improper messages or images
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('edit', 'fas')
          h4 Text Formatting
          | Let's decorate your posts and profile! Formatting by Misskey Flavored Markdown is available.
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('surprise', 'far')
          h4 Reaction
          | Let's express your sympathy for posts easily! You can choose 10 kinds of emoticon and attach to posts.
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('chart-pie', 'fas')
          h4 Poll
          | Let's ask opinions! Let's ask opinions to everyone. You can create up to 10 choices.
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('cloud', 'fas')
          h4 Drive
          | Save your photos and share it! You can manage pictures you attached to posts in your drive.
        li.px-0.mt-3.col-12.col-md-5.offset-md-1.col-xl-3
          span.fa-li.text-muted.font-size-16: +fa('gamepad', 'fas')
          h4 Gaming
          | Let's play together! You can battle with other users.
          br
          | In Reversi, users' icon show as stones and you can play with #[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener") customed rule].

      p.text-center
        a(href="wiki/usage/").btn.btn-lg.btn-primary
          +fa_fw('book')
          | See the usage in wiki
    hr.my-4#section_2_b

    .s2_item
      h3.text-center Independence and Sociality
      p.text-center You can determine a owner by your intention, or you can manage your own instance.

      ul.fa-ul.row.mr-0.ml-md-0
        li.px-0.mt-3.col-12.col-md-5.offset-md-1
          span.fa-li.text-muted.font-size-16: +fa('globe', 'fas')
          h4 Fediverse
          | In misskey, you can follow users in other server because Misskey implements ActivityPub.
          | Not only misskey, you can follow users in #[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") other service].
        li.px-0.mt-3.col-12.col-md-5.offset-md-1
          span.fa-li.text-muted.font-size-16: +fa('server', 'fas')
          h4 Easy server building
          | It's easy to construct a Misskey server.
          br
          a(href="wiki/developers/").font-weight-bold  → Make your instance

    hr.my-4#section_2_c

    .s2_item
      h3.text-center Open source
      p.text-center Misskey is a open-source software. You can join in development and translation. You can add your own extension.
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning
          | Crowdin(to translate)

      ul.fa-ul.row.mr-0.ml-md-0
        li.px-0.mt-3.col-12.col-md-5.offset-md-1
          span.fa-li.text-muted.font-size-16: +fa('code', 'fas')
          h4 API
          | Make your apps and clients to make your life better. You can use almost all features of Misskey in your apps.
          br
          a(href="https://misskey.xyz/docs/ja/api" target="_blank" rel="noopener").font-weight-bold  → Misskey API
        li.px-0.mt-3.col-12.col-md-5.offset-md-1
          span.fa-li.text-muted.font-size-16: +fa('balance-scale', 'fas')
          h4 AGPLv3
          | Misskey is licensed under GNU Affero General Public License v3.0 (AGPLv3).
          br
          a(href="https://github.com/syuilo/misskey/blob/master/LICENSE" target="_blank" rel="noopener").font-weight-bold  → License

  #section_3.bg-dark.text-white.py-5: .container
    h2.text-center Getting started
    p.text-center Let's register your account in any instance!
    p.text-center You can talk with users in other instances. Instance URL is part of your ID.
    hr.my-4
    h3#instances List of recommended instances
    +instancesList('selected', ['white-50', 'dark', 'dark'])
    a(href="./wiki/instances/#others").btn.btn-link.btn-block Watch more...

    p.text-white-50.pt-2 We will add new instances continuously. If you want us to add instances to list, please send to @aqz@misskey.xyz.
  
  #section_4.py-4.bg-success: .container.text-center.text-white
    .row
      .col-12.col-md-6
        .py-3
          a(href="./blog/").btn.btn-lg.btn-light.text-success
            +fa("broadcast-tower")
            |  Blog
          p.mt-1.mb-0.p-0 Notify release notes at any time.
      .col-12.col-md-6
        .py-3
          a(href="./credit/").btn.btn-lg.btn-light.text-success
            +fa("users")
            |  Credits
          p.mt-1.mb-0.p-0 People who join in Misskey development.

  #section_6.bg-white.py-5: .container.text-center.text-black
    h2 Misskey is now in internet news! (In Japanese)
    p.m-0
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT")

  #section_7.pt-5.pb-4: .container
    h2.text-center Support contributors
    p.text-center
      a(href="./credit/#patrons" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary.mr-2
        | List of sponsers
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary
        | List of donators

    hr.my-4
    h3.text-center Support misskey
    p.text-center Do you like misskey? Misskey is developed by individuals. It's free and open-source. Please support misskey development.
    p.text-center Misskey has no ads. We pay so much money.
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('patreon', 'fab')
      | To be a patron
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('amazon', 'fab')
      | Wish list
    p.text-center ... or contact #[a(href="https://misskey.xyz/@syuilo" target="_blank" rel="noopener") developers]
