---
title: Let's Start Misskey
description: Misskey, A forever evolving, sophisticated microblogging platform. ―― Why don't you leave from a noisy city for a while, and dive into the new network?
styleRequires: ["top"]
---
#toppage
  section#top.loadts
    .texts
      .slogan.h4.font-weight-normal.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Connect in the new world
      h1.font-weight-normal.loadts.scrollts-fadeInLeftBig.scrollts-e-2.scrollts-u-5.scrollts-nomargin Let's Start Misskey
      p.loadts.scrollts-fadeInLeftBig.scrollts-e-4.scrollts-u-5.scrollts-nomargin Misskey is a forever evolving, sophisticated microblogging platform.
    .scnshts
      +picture({src:"/files/images/imports/2019/11/top-deck.png", alt:"Deck(Desktop)", class:"loadts scrollts-e-1 scrollts-nomargin", sizes: "60vw"})
      +picture({src:"/files/images/imports/2019/11/home-long.png", alt:"Home(Desktop)", class:"loadts scrollts-e-1 scrollts-nomargin", sizes: "58vw"})
      +picture({src:"/files/images/imports/2019/03/top-mobile-1403march19.png", alt:"Mobile", class:"loadts scrollts-e-1 scrollts-nomargin", sizes: "20vw"})
      img(src="/files/images/imports/2019/03/ai_svg.svg" alt="Ai").loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin
      div.small.loadts.scrollts-fadeIn.scrollts-e-3.scrollts-nomargin Ai, the mascot of Misskey
  section#section_1.bg-primary.text-white: .container
    p.text-center Thank you for finding Misskey! Misskey is a #[span.font-weight-bold distributed microblogging] from the Earth. Misskey and other SNS connect each other because it exists in Fediverse (universe composed of various SNS.)
    p.text-center Why don't you leave from a noisy city for a while, and dive into the new network?
    p.mt-1.text-center
      a(href="#section_3").btn.btn-lg.btn-outline-primary.bg-white.mr-2.scrollts.scrollts-flipInX.scrollts-nomargin Start
      a(href="wiki/developers").btn.btn-lg.btn-primary.scrollts.scrollts-flipInX.scrollts-nomargin Run
  section#section_dolphin(style="background-color: #50a6c9").text-white: a(href="wiki/culture/softwares/dolphin").d-block.text-white.text-center.container
    img(src="/files/images/imports/2019/10/dolphin-w.svg" alt="dolphin" style="width: 40%; max-width: 16rem").scrollts.scrollts-zoomIn
    p.mt-4.mb-0.text-center #[b Dolphin], a flanked software for small instance
  section#section_2.bg-white: .container
    h2.text-center.mt-3 Reasons to start Misskey
    p.text-center There are many reasons why you choose Misskey as everyday use SNS.

    section.s2-item
      h3.text-center Many features
      p.text-center Abilities of Misskey
      p.text-center
        a(href="wiki/").btn.btn-lg.btn-primary.scrollts.scrollts-jackInTheBox
          +fa_fw('book')
          | See usages in wiki

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comment-alt', 'fas')
              .s2-card-text
                h4 Productive Notes Posting
                p.mb-0
                  +fa_fw('i-cursor')
                  | #[b Free character limit] set for each instance
                p.mb-0
                  +fa_fw('unlock')
                  |  You can #[b configure privacy range] of your post finely
                p.mb-0
                  +fa_fw('eye-slash')
                  |  You can #[b hide] your improper messages or images
            a(href="wiki/usage/post").s2-card-link.font-weight-bold About Notes Posting
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('edit', 'fas')
              .s2-card-text
                h4 Text Formatting
                p.mb-0 Let's decorate your notes and profile! Formatting by Misskey Flavored Markdown (MFM) is available.
            +picture({src: "/files/images/imports/2019/03/mfm.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/mfm").s2-card-link.font-weight-bold About MFM
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('surprise', 'far')
              .s2-card-text
                h4 Reactions
                p.mb-0 Easily express empathy for notes. You can select emoji and send a reaction to the note.
            +picture({src: "/files/images/imports/2019/03/reaction-2.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('chart-pie', 'fas')
              .s2-card-text
                h4 Poll
                p.mb-0 Let's ask everyone for their opinions. You can create a questionnaire with up to 10 choices. Multiple answers can be accepted and an expiration date can be set.
            +picture({src: "/files/images/imports/2019/03/vote.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('cloud', 'fas')
              .s2-card-text
                h4 Drive
                p.mb-0 Save files and share them many times. You can manage attached files with Drive, or upload files to Drive beforehand.
            +picture({src: "/files/images/imports/2019/11/drive.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/drive").s2-card-link.font-weight-bold About Drive
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('gamepad', 'fas')
              .s2-card-text
                h4 Gaming
                p.mb-0
                  | Let's play together! You can battle with other users.
                  br
                  | In Reversi, users' icon show as stones and you can play with #[a(href="https://github.com/syuilo/misskey/issues/1200" target="_blank" rel="noopener") customed rule].
            +picture({src: "/files/images/imports/2019/03/reversi.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('comments', 'far')
              .s2-card-text
                h4 Talk
                p.mb-0
                  | Let's chat.
                  br
                  | You can chat one-on-one or in a group on a dedicated screen.
            +picture({src: "/files/images/imports/2019/10/talk.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/messaging").s2-card-link.font-weight-bold About Talk
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('sticky-note', 'far')
              .s2-card-text
                h4 Pages
                p.mb-0
                  | Make a "generator" or write a sentence.
                  br
                  | On the page, you can place blocks such as text and sections or create a simple program.
            +picture({src: "/files/images/imports/2019/10/page.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/pages").s2-card-link.font-weight-bold About Pages
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('door-open', 'fas')
              .s2-card-text
                h4 Rooms
                p.mb-0
                  | Arrange various furniture and make your own room.
                  br
                  | The room you created can be shared with everyone by URL.
            +picture({src: "/files/images/imports/2019/10/room.png", loading: "lazy", sizes: "calc(100vw - 1rem), (min-width: 576px) 524px, (min-width: 768px) 344px, (min-width: 992px) 464px, (min-width: 1200px) 364px"})
            a(href="wiki/usage/rooms").s2-card-link.font-weight-bold About Rooms

    hr#section_2_b

    section.s2-item
      h3.text-center Customizable Interface
      p.text-center You can customize the web client at will.

      .row
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('th-large', 'fas')
              .s2-card-text
                h4 Home and Deck
                p.mb-0 You can use either "Home" with a large timeline in the center or "Deck" with multiple timelines.
            img(src="/files/images/imports/2019/11/home-and-deck.svg")
        article.col-12.col-md-6.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('calculator', 'fas')
              .s2-card-text
                h4 Widgets
                p.mb-0 A small widget displays various information. You can sort the widgets freely.
            img(src="/files/images/imports/2019/03/widgets.svg")
        article.col-12.col-md-12.col-xl-4
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('palette', 'fas')
              .s2-card-text
                h4 Themes
                p.mb-0
                  | You can freely change the background color, text, border color, etc.
                  br
                  | The created theme can be saved and shared as a file.
            a(href="https://assets.msky.cafe/" target="_blank" rel="noopener").s2-card-link.font-weight-bold Assets Store

    hr#section_2_a

    section.s2-item
      h3.text-center Independence and Sociality
      p.text-center You can determine an owner by your intention, or you can manage your own instance.

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('globe', 'fas')
              .s2-card-text
                h4 Fediverse
                p.mb-0
                  | Since Misskey has a server-to-server communication function called ActivityPub, 
                  | You can follow users from different instances and #[a(href="https://fediverse.gitlab.io/" target="_blank" rel="noopener") other services], and see and react to notes.
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .s2-card-icon.fa-2x: +fa_fw('server', 'fas')
              .s2-card-text
                h4 Easy Server Construction
                p.mb-0 Installing Misskey is easy. You can have your own SNS.
            a(href="wiki/developers/").s2-card-link.font-weight-bold About instance construction and running

    hr#section_2_c

    section.s2-item.pb-0
      h3.text-center Open source
      p.text-center Misskey is open source software. Anyone can participate in development and translation. You can also fork the repository and add your own extensions.
      p.text-center
        a(href="https://github.com/syuilo/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-dark.mr-2.scrollts.scrollts-zoomIn
          +fa_fw('github', 'fab')
          | GitHub
        a(href="https://crowdin.com/project/misskey" target="_blank" rel="noopener").btn.btn-lg.btn-warning.scrollts.scrollts-zoomIn
          | Crowdin (to translate)

      .row
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .font-size-16: +fa_fw('code', 'fas')
              .s2-card-text
                h4 API
                p.mb-0 Make your apps and clients to make your life better. You can use almost all features of Misskey in your apps. Play against the reversi bot and let everyone know what you are listening to!
            a(href="wiki/developers/api/").s2-card-link.font-weight-bold API Usage
        article.col-12.col-md-6
          .card.scrollts.scrollts-fadeInLeftSmall
            .s2-card-grid
              .font-size-16: +fa_fw('balance-scale', 'fas')
              .s2-card-text
                h4 AGPLv3
                p.mb-0 Misskey is licensed under GNU Affero General Public License v3.0 (AGPLv3).
            a(href="https://github.com/syuilo/misskey/blob/master/LICENSE" target="_blank" rel="noopener").s2-card-link.font-weight-bold License

  .text-center
    +ad({ class: "aitaso", slot: "4149683131", format: "horizontal", allowFullWidth: "true" })

  section#section_3.bg-dark.text-white: .container
    h2.text-center Getting started
    p.text-center Let's register your account in any instance!
    p.text-center You can talk with users in other instances. Instance URL is part of your ID.
    hr.my-4
    h3#instances List of recommended instances
    +instancesList('selected', ['light', 'white-50', 'dark', 'dark'], 'fadeInUp')
    p.text-center.my-2
      a(href="./wiki/instances/").scrollts-nomargin.btn.btn-primary.btn-sm Watch more...

    p.text-white-50.pt-2 We will add new instances continuously. If you want us to add instances to the list, please send to @aqz@yuzulia.xyz.

  section#section_6.bg-white: .container.text-center.text-dark
    h2 Misskey is now in internet news! (In Japanese)
    p.m-0.text-center
      a(href="http://www.itmedia.co.jp/news/articles/1804/17/news124.html" target="_blank" rel="noopener" title="ActivityPub対応国産SNS「Misskey」、LTLも実装 ―― ITmedia NEWS").p-1.mr-2
        img(src="/files/images/imports/2018/07/ITmediaNEWS.png" style="height: 33px" alt="ITmedia NEWS" loading="lazy")
      a(href="https://www.moongift.jp/2018/07/misskey-%e5%88%86%e6%95%a3%e5%9e%8b%e3%83%9e%e3%82%a4%e3%82%af%e3%83%ad%e3%83%96%e3%83%ad%e3%82%b0%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9/" target="_blank" rel="noopener" title="Misskey - 分散型マイクロブログサービス ―― MOONGIFT").p-1
        img(src="/files/images/imports/2018/07/MOONGIFT.png" style="height: 33px" alt="MOONGIFT" loading="lazy")

  section#section_7: .container
    h2.text-center Support contributors
    p.text-center
      a(href="credit#patrons").btn.btn-lg.btn-light.text-primary.mr-2
        | List of sponsers
      a(href="https://github.com/syuilo/misskey/blob/master/docs/DONATORS.md" target="_blank" rel="noopener").btn.btn-lg.btn-light.text-primary
        | List of donators

    hr.my-4
    h3.text-center Support misskey
    p.text-center
      | Do you like misskey? Misskey is developed by individuals. It's free and open-source.
      br
      | Misskey is not advertised so as not to disturb the user's actions, but there is a considerable amount of expenditure for development.
      br
      | Please support misskey development.
    a(href="https://www.patreon.com/syuilo" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('patreon', 'fab')
      | To be a patron
    a(href="http://amzn.asia/7O1LEI5" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      +fa_fw('amazon', 'fab')
      | Wish list
    a(href="https://www.bountysource.com/teams/misskey" target="_blank" rel="noopener").btn.btn-block.btn-lg.btn-outline-primary.mb-2
      | Bountysource
    p.text-center ... or #[a(href="https://misskey.io/@syuilo" target="_blank" rel="noopener") contact the developer]
    p.text-center
      a(href="wiki/about-jm").btn.btn-primary.btn-lg Support joinmisskey

  section#section_4.bg-success: .container.text-white
    .row
      .col-12.col-md-6
        .py-3
          a(href="blog/").btn.btn-lg.btn-outline-light
            +fa("broadcast-tower")
            |  Blog
          p.mt-1.mb-0.p-0 Notify release notes at any time.
      .col-12.col-md-6.scrollts-e-1
        .py-3
          a(href="credit").btn.btn-lg.btn-outline-light
            +fa("users")
            |  Credits
          p.mt-1.mb-0.p-0 People who join in Misskey development.
