---
title: Patrons
description: Misskeyのパトロンです。
---
#patrons
  each patron in patrons
    a(href=patron.attributes.url)
      img(src=patron.attributes.thumb_url)
      p=patron.attributes.full_name