#nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  background-color: #fff
  box-shadow: rgba(0, 0, 0, .2) 0 0 8px
  border: none

  @media (max-width: map-get($grid-breakpoints, md) - 0.02)
    box-shadow: 0 1px 0 rgba(0, 0, 0, .075)

  nav
    &#mainnav
      height: 48px
      width: 100%
      border-bottom: 1px solid $gray-300

      button.navbar-toggler,
      button.hamburger
        height: 48px
        width: 48px
        border-top: none
        border-left: none
        border-bottom: none
        border-radius: 0
        border-right: 1px solid $gray-300
        background: transparent

        @media (max-width: map-get($grid-breakpoints, md) - 0.02)
          border-right: solid 1px rgba(0,0,0,0.1)

          svg
            font-size: 22.4px

      &:before
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 48px
        background-image: url('/files/images/title.light.svg')
        background-size: 120px
        background-position: center
        background-repeat: no-repeat
        opacity: 0.3
        content: ""
        z-index: -1

    &#breadcrumb
      height: 33px

      > div
        overflow-x: auto

        > .breadcrumb
          width: max-content
          width: -webkit-max-content
          width: -moz-max-content

#main
  margin: 81px 0 0 0
  min-height: calc(100vh - 136.53px)

  &.padding
    @media (min-width: map-get($grid-breakpoints, sm))
      margin-top: calc(81px + 1.6rem)
      margin-bottom: 1.6rem
      min-height: calc(100vh - 3.2rem - 136.53px)

#footer
  box-shadow: rgba(0,0,0,0.2) 0 0 8px