#nav
  nav
    &#mainnav
      button
        svg
          font-size: 20px

      @media (min-width: map-get($grid-breakpoints, sm) + 0.0000000001)
        #navtoggle
          text-shadow: 1px 1px 0 #f7f7f7, 1px -1px 0 #f7f7f7,-1px 1px 0 #f7f7f7,-1px -1px 0 #f7f7f7

          .nav-item
            height: 48px
            display: flex
            font-size: .8125rem

            a.nav-link
              margin: auto

            &.active
              border-bottom: 3px solid $primary
              border-top: 3px solid transparent

      @media (min-width: map-get($grid-breakpoints, lg) + 0.0000000001)
        #navtoggle
          padding-left: calc((100% - 1300px) / 2)

      @media (max-width: map-get($grid-breakpoints, sm))
        #navtoggle
          background-color: #595f6f

          .nav-item
            a.nav-link
              color: #eee

            &.active
              a.nav-link
                color: #fff

    .dropleft
      position: fixed
      right: 4px
      top: 4px
      z-index: 102
      height: 40px

      button
        height: 40px