#sidebar
  padding: 0
  margin: 0
  font-size: 16px
  background-color: $primary
  @extend .text-white

  .sf-sidebar
    position: sticky
    padding: 1em 0
    top: 0
    left: 0

    a
      display: block
      @extend .text-white
      transition: .6s
      background-color: $primary

      &:hover
        text-decoration: none
        background-color: lighten($primary, 20)
  
    .sf-sidebar-top
      text-align: left
      font-weight: bold
      padding: 1em .3rem
      font-size: 1.05rem
      line-height: 1.3em

    .sf-sidebar-item
      text-align: left
      font-weight: 300
      padding: .4rem .3rem
      font-size: 1.1rem
      line-height: 1.1em

    .sf-sidebar-item-small
      text-align: left
      font-weight: 400
      padding: .3rem .3rem
      font-size: 1rem
      line-height: 1.1em

    .sf-sidebar-item-parent
      text-align: left
      font-weight: 300
      padding: .5rem .3rem .3rem
      font-size: 1.1rem
      line-height: 1.1em

    .sf-sidebar-item-children-wrap
      padding: 0

    .sf-sidebar-item-child
      text-align: left
      font-size: 1rem
      padding: .1em .3em
      background-color: rgba(0, 0, 0, .1)

      &:hover
        text-decoration: none
        background: rgba(0, 0, 0, .03)

    .social-accounts
      margin: 1rem
      width: calc(100% - 2rem)

    .sidebar_closer
      margin: 0 1rem
      width: calc(100% - 2rem)

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6
    font-size: 1em
