#ini
  position: fixed
  display: flex
  z-index: 101
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: #fff
  cursor: wait

  & > #ini_inner
    margin: auto

    > svg
      width: 64px
      height: 64px
      animation: ini 0.6s infinite linear

@import "./keyframes"

#toppage
  > section:not(#top)
    padding-top: 4.5em
    padding-bottom: 4.5em

    @media (min-width: map-get($grid-breakpoints, xl))
      padding-top: 8.25em
      padding-bottom: 8.25em

  #top
    position: relative
    height: 66vh
    overflow: hidden
    background: linear-gradient(rgba($misskey-ai, .25), rgba($misskey-ai, .05))

    &:not(.show)
      background: $misskey-ai

    .texts
      position: absolute
      max-width: 75vw
      transform: translateX(6vw) translateY(7vh)
      z-index: 2
      white-space: normal
      word-break: keep-all
      text-shadow: #f7f7f7 2px 0px, #f7f7f7 -2px 0px, #f7f7f7 0px -2px, #f7f7f7 0px 2px, #f7f7f7 2px 2px , #f7f7f7 -2px 2px, #f7f7f7 2px -2px, #f7f7f7 -2px -2px, #f7f7f7 1px 2px, #f7f7f7 -1px 2px, #f7f7f7 1px -2px, #f7f7f7 -1px -2px, #f7f7f7 2px 1px, #f7f7f7 -2px 1px, #f7f7f7 2px -1px, #f7f7f7 -2px -1px

      > .slogan
        font-size: calc(1.2rem + 1vw)
      
      > h1
        font-size: calc(2.2rem + 3vw)

      > p
        font-size: calc(.9rem + .2vw)
        word-break: keep-all
        text-shadow: 1px 1px 0 #f7f7f7, 1px -1px 0 #f7f7f7,-1px 1px 0 #f7f7f7,-1px -1px 0 #f7f7f7,0px 1px 0 #f7f7f7, 0px -1px 0 #f7f7f7,-1px 0px 0 #f7f7f7,1px 0px 0 #f7f7f7

    .scnshts
      position: absolute
      z-index: 1

      *
        position: absolute
        filter: drop-shadow(0px 0px 1.5px rgba(0,0,0,.25))
        color: rgba(0,0,0,0)

        // Mobile
        &:nth-child(3)
          width: 20vw
          transform: translateX(32vw) translateY(45vh)
          z-index: 3
          background-color: #1a1b20
          &.show
            animation-name: toppage-scnshts-3
          &:not(.show)
            @extend .invisible

          @media (max-width: map-get($grid-breakpoints, sm))
            transform: translateX(35vw) translateY(55vh)
            &.show
              animation-name: toppage-scnshts-3-sm

        // Home
        &:nth-child(2)
          width: 60vw
          transform: translateX(10vw) translateY(35vh)
          z-index: 0
          &.show
            animation-name: toppage-scnshts-2
          &:not(.show)
            @extend .invisible

          @media (max-width: map-get($grid-breakpoints, sm))
            transform: translateX(10vw) translateY(45vh)
            &.show
              animation-name: toppage-scnshts-2-sm

        // Deck
        &:nth-child(1)
          width: 60vw
          transform: translateX(37vw) translateY(40vh)
          z-index: 1
          background-color: #ececec
          &.show
            animation-name: toppage-scnshts-1
          &:not(.show)
            @extend .invisible

          @media (max-width: map-get($grid-breakpoints, sm))
            transform: translateX(37vw) translateY(50vh)
            &.show
              animation-name: toppage-scnshts-1-sm

        // Ai
        &:nth-child(4)
          height: 70vh
          width: 52.320569902vh
          transform: translateX(63vw)
          z-index: 4

          @media (max-width: map-get($grid-breakpoints, sm))
            transform: translateX(38vw)

        &:nth-child(5)
          transform: translateX(67vw) translateY(calc(64vh - 1.6em))
          transform-origin: bottom
          z-index: 5
          filter: none
          color: #000000
          word-break: keep-all
          white-space: nowrap
          text-shadow: 1px 1px 0 #f7f7f7, 1px -1px 0 #f7f7f7,-1px 1px 0 #f7f7f7,-1px -1px 0 #f7f7f7,0px 1px 0 #f7f7f7, 0px -1px 0 #f7f7f7,-1px 0px 0 #f7f7f7,1px 0px 0 #f7f7f7

          @media (max-width: map-get($grid-breakpoints, sm) - 0.02)
            transform: translateX(52.5vw) translateY(calc(64vh - 1.6em))

  #section_2
    > .container
      > .s2-item
        padding-top: 3em
        padding-bottom: 3em

        @media (min-width: map-get($grid-breakpoints, xl))
          padding-top: 5em
          padding-bottom: 5em

        > .row
          > article
            @extend .p-2

            > .card
              width: 100%
              height: 100%
              display: grid
              grid-template-rows: 1fr

              > .s2-card-grid
                padding: ($spacer) ($spacer) ($spacer) ($spacer)
                width: 100%
                display: grid
                grid-template-columns: 2.5em 1fr

                h4
                  font-size: 1.1rem

              > a.s2-card-link
                @extend .border-top
                @extend .p-2
                @extend .text-center
                display: block
                transition: background-color .3s

                &:hover
                  text-decoration: none
                  background-color: rgba($primary, .3)

              > img
                width: 100%

    h4
      @extend .jm-h4
