---
title: はじめに
description: 基本的な用語 登録の仕方 メニュー表示方法
layout: wiki
has_child: true
rank: 0
next: /wiki/usage/timelines/
improve: true
---
h2 基本的な概念・用語

dl
  dt インスタンス
  dd.
    サーバー。特にActivityPubのサーバー間通信機能を持ったサーバーのことを指します。<br>
    ActivityPubは正式な「規格」です。ユーザーが特に気にする必要はありません。<br>
    インスタンス間は通信可能で、あるインスタンスのユーザーは他のインスタンスのユーザーをフォローし、投稿をリアルタイムに取得したり反応を返したりすることができます。
  dt ローカル
  dd 自分のインスタンスを指します。
  dt リモート
  dd ローカルの逆で、他のインスタンスやその集まりを指します。
  dt ユーザー
  dd Misskeyや他のインスタンスを利用している人々です。もちろんあなたも指します。
  dt 投稿
  dd Misskeyの核となる機能です。ユーザーは自分が思ったことや日々の出来事を文章として投稿できます。
  dt タイムライン
  dd.
    適切な投稿が投稿時刻順で表示されます。上に行くほど新しい投稿です。<br>
    基本的にリアルタイムに更新されます。
  dt デスクトップ・モバイル
  dd.
    Misskeyでは端末をデスクトップとモバイルに分けて操作を変更しています。<br>
    パソコンはデスクトップ、iOSやAndroidはモバイルです。
  dt ウィンドウ
  dd.
    デスクトップでは、ウィンドウというシステムがあります。ちょうどパソコンのようにウィンドウをいくつも開いて操作を行えます。<br>
    #[+fa_fw('window-restore', 'far')]#[span.sr-only ポップアウトボタン]でブラウザで画面をポップアウトします。<br>
    #[+fa_fw('times')]#[span.sr-only ×ボタン]でウィンドウを閉じます。

h2 登録する
p.
  Misskeyへの登録にメールアドレスは不要です。<br>
  ユーザー名を英数字と_で決め、他の人に操作されないようにパスワードを設定し、最後に自分がbotではないことを証明します。

h2 メニューを表示する
h3 デスクトップ
p 右上を見てください。さきほど設定したユーザー名が表示されています。そこをクリックすると#[b メニュー]が表示されます。
h3 モバイル
p 左上の#[+fa_fw('bars')]をタップすると#[b メニュー]が表示されます。
