---
title: はじめに
description: 基本的な用語 登録の仕方 メニュー表示方法
layout: wiki
has_child: true
rank: 0.9
prev: /wiki/about/
next: /wiki/questions/
improve: true
---
h2 基本的な概念・用語

dl
  dt インスタンス
  dd.
    Misskeyがインストールされたサーバーのこと。また、Misskeyに限らずActivityPubのサーバー間通信機能を持ったサーバーのことを指す。<br>
    ActivityPubは標準規格の名称だが、これはユーザーが特段気にする必要はない。<br>
    インスタンス間は通信可能で、あるインスタンスのユーザーは他のインスタンスのユーザーをフォローし、投稿をリアルタイムに取得したり反応を返したりすることができる。
  dt ローカル
  dd 自分のインスタンスのこと。
  dt リモート
  dd ローカルの逆で、他のインスタンスやその集まりを指す。
  dt ユーザー
  dd Misskeyや他のインスタンスを利用している人々のこと。あなたのことも指す。
  dt 投稿
  dd Misskeyの核となる機能。文章を書いて投稿ボタンを押すと、データベースにその文章が追加され、適切なときにタイムライン等に表示される。
  dt タイムライン
  dd.
    適切な投稿が投稿時刻順で表示される。上に行くほど新しい投稿。<br>
    基本的にリアルタイムに更新される。
  dt デスクトップ・モバイル
  dd.
    Misskeyでは、端末をデスクトップとモバイルに分け、画面を変更している。<br>
    パソコンではデスクトップ、iOS・Android端末はモバイルとなる。
  dt ウィンドウ
  dd.
    デスクトップ版Misskey Webにはウィンドウシステムがある。複数のウィンドウを開いて操作を行うことができる。<br>
    #[+fa_fw('window-restore', 'far')]#[span.sr-only ポップアウトボタン]でブラウザで画面がポップアウトされる。<br>
    #[+fa_fw('times')]#[span.sr-only ×ボタン]でウィンドウを閉じる。
  dt ミスキスト
  dd.
    ミスキスト（Misskist）は、Misskeyにアカウントを持っている人を指す言葉だ。<br>
    Misskeyを使いこなし、一人前のミスキストを目指そう。

h2 登録する
p.
  Misskeyへの登録にメールアドレスは不要だ。<br>
  ユーザー名を英数字と_で決め、他の人に操作されないようにパスワードを設定し、登録ボタンを押す。インスタンスによっては、自分がbotではないことを証明する(reCAPTCHA)ことを要求される。

h2 メニュー
p メニューからMisskeyの機能を開始・操作できる。

h3 メニューの表示方法
h4 デスクトップ
p 画面右上の、ユーザー名とアイコンが書かれている領域をクリックする。
h4 モバイル
p 画面左上の#[+fa_fw('bars')]#[span.sr-only 三本バー]をタップする
