---
title: はじめに
description: 基本的な用語 登録の仕方 メニュー表示方法
layout: wiki
has_child: true
rank: 0.9
prev: /wiki/about/
next: /wiki/questions/
improve: true
---
h2 基本的な概念・用語

dl
  dt ノート
  dd.
    ユーザーの発言のこと。<br>
    ノートには、画像などのファイルやアンケートなど様々な情報を添付できる。
  dt タイムライン
  dd.
    ノートが投稿時刻順で表示される。上に行くほど新しい投稿。<br>
    基本的にはリアルタイムに更新される。
  dt インスタンス
  dd.
    Misskeyがインストールされたサーバーのこと。Misskeyに限らず、ActivityPub（国際的な標準規格）のサーバー間通信機能を持ったソフトウェアがインストールされたサーバーのことも指す。<br>
    インスタンス間は通信可能で、あるインスタンスのユーザーは他のインスタンスのユーザーをフォローし、ノートやトゥ―トをリアルタイムに取得したり反応を返したりすることができる。
  dt Fediverse（フェディバース）
  dd.
    Federation（連合）とUniverse（銀河）とを組み合わせた造語。インスタンスが繋がりあって「連合」した状態を銀河に見立て、ActivityPub（やほかの連合規格）で形成されたSNSの世界のことを指す。
  dt ローカル
  dd 自分のインスタンスのこと。
  dt リモート
  dd ローカルの逆で、Fediverseの他のインスタンス（群）のこと。
  dt デスクトップ / モバイル
  dd.
    Misskey Web（Misskey標準のWebクライアント）では、端末をデスクトップとモバイルに分けて画面を変更している。<br>
    パソコンではデスクトップ、iOS・Android端末はモバイルとなる。
  dt ウィンドウ
  dd.
    デスクトップ版Misskey Webにはウィンドウシステムがある。複数のウィンドウを開いて操作を行うことができる。<br>
    #[+fa_fw('window-restore', 'far')]#[span.sr-only ポップアウトボタン]でブラウザで画面がポップアウトされる。<br>
    #[+fa_fw('times')]#[span.sr-only ×ボタン]でウィンドウを閉じる。
  dt ミスキスト（Misskist）
  dd.
    ミスキストとは、Misskeyにアカウントを持っている人を指す言葉だ。<br>
    Misskeyを使いこなし、一人前のミスキストを目指そう。

h2 登録する
p.
  Misskeyへの登録にメールアドレスは不要だ。<br>
  ユーザー名を英数字と_で決め、他の人に操作されないようにパスワードを設定し、登録ボタンを押す。インスタンスによっては、自分がbotではないことを証明する(reCAPTCHA)ことを要求される。

h2 メニュー
p メニューからMisskeyの機能を開始・操作できる。

h3 メニューの表示方法
h4 デスクトップ
p 画面右上の、ユーザー名とアイコンが書かれている領域をクリックする。
h4 モバイル
p 画面左上の#[+fa_fw('bars')]#[span.sr-only 三本バー]をタップする。
