---
title: 新規ユーザー登録を停止しているインスタンスの一覧
description: 現在新規ユーザー登録を停止しているインスタンスの一覧。
layout: wiki
---
p Liste des instances ayant désactivé l'inscription et/ou l'accueil de nouveaux utilisateurs
+instancesList('registration-closed')
