---
title: 招待制インスタンスの一覧
description: 現在新規ユーザー登録に招待コードが必要なインスタンスの一覧。
layout: wiki
prev: /wiki/instances/
next: /wiki/instances/suspended/
---
p 新規ユーザー登録に招待コードが必要なインスタンスの一覧。
+instancesList('registration-closed')
