---
title: 閉鎖しているインスタンスの一覧
description: 現在は閉鎖しているインスタンスの一覧です。
layout: wiki
---
p 現在は閉鎖しているインスタンスの一覧です。
p アクセスしてエラーが返ってきたインスタンスを閉鎖と判断しています。メンテナンス中のインスタンスも含まれてしまっているかもしれません。
+instancesList('suspended')