---
title: 閉鎖しているインスタンスの一覧
description: 現在は閉鎖しているインスタンスの一覧
layout: wiki
---
p 現在は閉鎖しているインスタンスの一覧
p アクセスしてエラーが返ってきたインスタンスを閉鎖と判断している。このため、メンテナンス中のインスタンスも含まれてしまっているかもしれない。
+instancesList('suspended')