---
title: 使い方
description: Misskeyは多くの機能を持っている。多機能なMisskeyの使い方を順を追って解説する。
layout: index
has_child: false
rank: 2
improve: true
---
p.
  Misskeyは多くの機能を持っているのが特徴だが、それによってわかりにくくなっている部分もあるだろう。<br>
  順序通りに一通り読めば、一通りMisskeyについて理解できると思う。
p.
  Misskey Webにはキーボードショートカットがあるが、これについてはMisskeyを開いた状態で#[kbd ?]または#[kbd h]キーを押して確認されたい。

h2 ページ一覧