---
title: 投稿に反応する
description: "投稿の下部にあるボタンの解説①: 返信・Renote・リアクション"
layout: wiki
has_child: true
rank: 5
prev: /wiki/usage/mfm/
next: /wiki/usage/watch/
improve: true
---
p 投稿の下部にあるボタンの解説①です。

h2 返信
p #[+fa_fw('reply')]で投稿に返信できます。

h2 Renote
p #[+fa_fw('retweet')]で投稿をRenoteすることができます。<br>他のサービスではリツイートやブーストと呼ばれるようです。
p また、コメントを付けてRenoteすることもできます(引用Renote)。
p.
  本文が空のまま引用すると通常のRenoteになります。<br>
  この状態で、例えば公開範囲を設定すると公開範囲を制限したRenoteになります。

h2 リアクション
p #[+fa_fw('plus')]で投稿にいくつかの絵文字でリアクションできます。
