---
title: ノートに反応する
description: "ノートの下部にあるボタンの解説①: 返信・リノート・リアクション"
layout: wiki
rank: 5
prev: /wiki/usage/mfm
next: /wiki/usage/watch
improve: true
---
p ノートの下部にあるボタンの解説その①

h2 返信
p #[+fa_fw('reply')]でノートに返信できる。

h2 リノート
p #[+fa_fw('retweet')]でノートをリノートすることができる。<br>他のサービスではリツイートやブーストと呼ばれるようだ。
p また、コメントを付けてリノートすることもできる#[b (引用リノート)]。
p.
  本文が空のまま引用すると通常のリノートになる。<br>
  この状態で、例えば公開範囲を設定すると公開範囲を制限したリノートになる。

h2 リアクション
p #[+fa_fw('plus')]でノートにいくつかの絵文字でリアクションできる。
