---
title: メッセージ
description: 1対1でやりとりできる、チャット機能
layout: wiki
has_child: true
rank: 8
prev: /wiki/usage/notemenu/
next: /wiki/usage/drive/
improve: true
---
p #[b メッセージ]では、チャット風画面でユーザー間で会話することができます。
p 発言には#[a(href="../post/#装飾") MFM]を利用することができます。
p #[+fa_fw('upload')]#[span.sr-only アップロードボタン]で端末から、#[+fa_fw('folder-open')]#[span.sr-only フォルダボタン]でドライブからファイルを添付できます。
p #[+fa_fw('paper-plane')]#[span.sr-only 送信ボタン]で送信します。キーボードで#[code Ctrl+Enter]と打っても送信できます。
p グループメッセージングには対応していません。