---
title: トーク
description: 1対1でやりとりできる、チャット機能がある。
layout: wiki
rank: 8
prev: /wiki/usage/notemenu/
next: /wiki/usage/drive/
improve: true
---
p #[+fa_fw('comments')]#[b トーク]では、チャット風画面でユーザー間で会話することができる。
p 発言には#[a(href="../mfm/") MFM]を利用することができる。
p #[+fa_fw('upload')]#[span.sr-only アップロードボタン]で端末から、#[+fa_fw('folder-open')]#[span.sr-only フォルダのボタン]でドライブからファイルを添付できる。
p #[+fa_fw('paper-plane')]#[span.sr-only 送信ボタン]で送信する。キーボードで#[code Ctrl+Enter]と打っても送信できる。
p グループトーキングには対応していない。
