---
title: 文字装飾
description: MisskeyではMisskey Flavored Markdown (MFM)を使って文字を装飾できる。
layout: wiki
rank: 4.5
prev: /wiki/usage/post/
next: /wiki/usage/interactions/
improve: true
---
p.
  Misskeyでは投稿を構文を使うことで装飾することができる。<br>
  この構文はMisskey Flavored Markdown (MFM)と呼ばれる。<br>
  その名の通りMarkdown構文を基にしているが、利用できる構文はMarkdownとは大幅に違う。
p 投稿だけでなく、プロフィールの自己紹介や#[a(href="../messaging/") メッセージ]にも利用できる。
p #[a(href="https://misskey.xyz/test") テストページ]にてMFMの動作確認を行える。
p 以下に利用できる構文とその例を示す。

h2 MFM構文一覧

h3 太字
p #[code **～**]で囲うことで太字で表示できる。

h3 中央揃え
p #[code &amp;lt;center&amp;gt;]と#[code &amp;lt;/center&amp;gt;]とで囲った文字は中央揃えになる。複数行に渡って適用可能。

h3 打し消し線
p #[code ~~]と#[code ~~]とで囲った文字は打消し線になる。

+mfm_example('標準の太さです。\n**太字で表示してみました！**\n<center>**中央揃えです。**いいね！</center>\n~~打ち消し線ですね~~')

h3 動く文字
p 文字にアニメーションを付けることができる。
p ただし、文字が動くのは1箇所につき10文字以内で3箇所までという制限がある。

h4 モーション
p #[b 三重カッコ]で囲うか#[code &amp;lt;motion&amp;gt;]と#[code &amp;lt;/motion&amp;gt;]とで挟むことで、条件を満たすと動く(文字サイズ・太さは通常)。タグ型の#[code &amp;lt;motion&amp;gt;]は顔文字を動かしたいときに便利。

h4 ビッグ
p 文字を`***`で挟むと、通常の1.5倍の大きさの太字で表示され、条件を満たすと動く。

+mfm_example('<motion>動きます！</motion>\n(((動く？)))\n***こいつ……動くぞ！***')

h3 コード
p.
  プログラミングのコードやアスキーアートを記述するとき便利な構文。<br>
  いくつかの文字に色が付く。フォントは等幅文字で表示される。

h4 ブロック
p 以下の例のように#[code ```…```]で囲うと、その間の行がコードとして表示される。

h4 行内
p.
  行中で#[code `…`]で囲うとコードとして表示される。<br>
  変数や値、ファイル名などを解りやすく表示するのに使うといいのではないだろうか。<br>
  数字、特定の文字列、記号などは彩色される。
p ただし「´」を入れるとインラインコード構文として認識されなくなる。

+mfm_example('```\n/*\n *Code (block)\n */\n// ソースコードやアスキーアートが捗る？\n長い行があるときはスクロールして表示されます。ちぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇん\n```\n行内コードの`mfm`構文です。')

h3 引用
p 両端を#[code "]で囲うか、行頭を<code>&gt; </code>とすることで、引用として表示される。

+mfm_example('"\nMisskeyは、オープンソースのソーシャル・ネットワーキング・サービス（SNS）の一つで、ActivityPubによりMastodonなどの分散SNSとやりとりが可能な分散SNSである。 \n"\n\n　――マストドン日本語ウィキ\n\n\n> Misskeyを見つけていただき、ありがとうございます。\n> Misskeyは、地球で生まれた分散マイクロブログSNSです。Fediverse(様々なSNSで構成される宇宙)の中に存在するため、他のSNSと相互に繋がっています。\n> \n> 暫し都会の喧騒から離れて、新しいインターネットにダイブしてみませんか。\n\n　――Misskey')

h3 検索
p #[code ○○ Search] #[code ○○ 検索] <code>○○ [Search]</code> <code>○○ [検索]</code>という行は例のような検索ボックスになる。

+mfm_example('Misskey 検索')

h3 リンク
p.
  <code>[link](url)</code>という記述は、urlに飛ぶlinkという表示のハイパーリンクとして表示される。<br>
  <code>?[link](url)</code>とすると、投稿下部に表示されるリンクの詳細が表示されなくなる。(残念ながら例では変わりないが…)
p URLをそのまま貼り付けるとそのままリンクとして認識される。

h3 タイトル
p #[code 【…】]または<code>[…]</code>という行は例のようにタイトルとして表示される。

+mfm_example('【ねこです】\nきいてますか。\nねこはそこにいます。\nよろしくおねがいします。\n\n【クレジット】\n [SCP-040-JP](http://ja.scp-wiki.net/scp-040-jp) ©Ikr_4185\nこのコンテンツは、?[クリエイティブ・コモンズ 表示-継承3.0ライセンス](http://creativecommons.org/licenses/by-sa/3.0/deed.ja)の元で利用可能です。\n\nSCP財団日本支部(SCP-JP) http://ja.scp-wiki.net/')

h3 数式
p #[code \(]と#[code \)]で囲まれた部分はLaTeX数式として認識される。現在は表示ライブラリにKaTeXを利用している。

+mfm_example(`二次方程式\\(ax^2+bx+c=0\\)の解、というと一般的に\n\n<center>\\(x= \\frac{-b±\\sqrt{b^2-4ac}} {2a}\\)</center>\nが知られていますが、\\(b\\)が偶数のとき、\\(b' = \\frac b 2\\)として\n\n<center>\\(x= \\frac{-b'±\\sqrt{b'^2-ac}} {a}\\)</center>\nとすると計算が少しだけ楽になります。`)
