---
title: 投稿する
description: さあ、投稿してみましょう。
layout: wiki
has_child: true
rank: 4
prev: /wiki/usage/follow/
next: /wiki/usage/interactions/
improve: true
---
p.
  何か投稿してみましょう。<br>
  新しい投稿を作成するには、右上の#[+fa_fw('pencil-alt')]#[span.sr-only ペンボタン]を押します。<br>
  文字数制限は1000文字です。(インスタンスで変更していない場合。また、特殊文字が含まれる場合など表示される文字数とカウントされる文字数が異なる場合があります。)<br>
  もし書いている途中で新規投稿フォームを閉じても、同じ投稿フォームから再開できます。

+mfm_example(`Misskeyはじめました`)

h2 画像や動画を添付する
p.
  #[+fa_fw('upload')]#[span.sr-only アップロードボタン]でファイルをアップロードし、投稿に添付できます。<br>
  #[+fa_fw('cloud')]#[span.sr-only ドライブボタン]で過去に添付した画像を再度添付できます。
p デスクトップ版では、フォームにファイルをドロップしたり#[code Ctrl+V]で画像を張り付けたりできます。

h2 アンケートを作成する
p #[+fa_fw('chart-pie')]でアンケートを作成できます。
p 選択肢は10個まで作成できます。

h2 投稿の内容を隠す
p #[+fa_fw('eye-slash')]#[span.sr-only 投稿の内容を隠すボタン]で注釈を付けて投稿の内容を隠せます。

h2 位置情報を添付する
p #[+fa_fw('map-marker-alt')]#[span.sr-only 位置情報添付ボタン]で現在の位置情報を投稿に添付できます。

h2 公開範囲を設定する
p Misskeyでは投稿の公開範囲を個別に設定できます。設定は5段階で選択できます。

dl
  dt #[+fa_fw('globe')] 公開
  dd 全ての人がこの投稿を閲覧できます。
  dt #[+fa_fw('home')] ホーム
  dd.
    全ての人が閲覧できますが、#[a(href='../timelines/#ホーム') ホームタイムライン]のみにこの投稿が表示されます。<br>
    #[a(href='../timelines/#ローカル') ローカルタイムライン]や#[a(href='../timelines/#グローバル') グローバルタイムライン]に投稿を表示したくないときに設定するといいでしょう。
  dt #[+fa_fw('unlock')] フォロワー
  dd フォロワーのみがこの投稿を閲覧できます。
  dt #[+fa_fw('envelope')] ダイレクト
  dd.
    指定したユーザーのみがこの投稿を閲覧できます。<br>
    #[code +ユーザーを追加]で公開するユーザーを追加できます。
  dt #[+fa_fw('lock')] 非公開
  dd 自分のみ閲覧できます。他のユーザーは閲覧できません。

h2 画像に閲覧注意を設定する
p 画像に閲覧注意を設定します。エロ画像や飯テロ画像など、他の人が見て不快になるような画像に設定しましょう。
p 投稿画面を閉じて#[+fa_fw('cloud')]ドライブから設定してください。

h2 装飾
p.
  Misskeyでは投稿を構文を使うことで装飾することができます。<br>
  この構文はMisskey Flavored Markdownと呼ばれます。<br>
  その名の通りMarkdown構文を基にしていますが、利用できる構文はMarkdownとは大幅に違います。
p 投稿だけでなく、プロフィールの自己紹介や[メッセージ](../message/)にも利用できます。
p 以下に利用できる構文を示します。

h3 太字
p #[code **～**]で囲うことで太字で表示できます。
+mfm_example('標準の太さです。\n**太字で表示してみました！**')

h3 動く文字
p 文字にアニメーションを付けることができます。
p ただし、標準では3箇所・1箇所につき10文字以内という制限があります。

h4 モーション
p **三重カッコ**で囲うか#[code &lt;motion&gt;]と#[code &lt;/motion&gt;]とで挟むことで、条件を満たすと動きます(文字サイズ・太さは通常)。タグ型の`&lt;motion&gt;`は顔文字を動かしたいときに便利です。

h4 ビッグ
p 文字を`***`で挟むと、通常の1.5倍の大きさの太字で表示され、条件を満たすと動きます。

+mfm_example('<motion>動きます！</motion>\n(((動く？)))\n***こいつ……動くぞ！***')

h3 コード
p.
  プログラミングのコードやアスキーアートを記述するとき便利な構文です。<br>
  いくつかの文字に色が付きます。フォントは等幅文字で表示されます。

h4 ブロック
p 以下の例のように#[code ```…```]で囲うと、その間の行がコードとして表示されます。

h4 行内
p.
  行中で#[code `…`]で囲うとコードとして表示されます。<br>
  変数や値、ファイル名などを解りやすく表示するのに使うといいのではないでしょうか。

+mfm_example('```\n/*\n *Code (block)\n */\n// ソースコードやアスキーアートが捗る？\n長い行があるときはスクロールして表示されます。ちぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇぇん\n```\n行内コードの`mfm`構文です。')

h3 引用
p 以下の例のように#[code "…"]で囲うと、その間の行が引用として表示されます。

+mfm_example('"\nMisskeyは、オープンソースのソーシャル・ネットワーキング・サービス（SNS）の一つで、ActivityPubによりMastodonなどの分散SNSとやりとりが可能な分散SNSである。 \n"\n　――マストドン日本語ウィキ')

h3 検索
p #[code ○○ Search]または#[code ○○ 検索]という行は例のような検索ボックスになります。

+mfm_example('Misskey 検索')


h3 リンク
p.
  <code>[link](url)</code>という記述は、urlに飛ぶlinkという表示のハイパーリンクとして表示されます。<br>
  <code>?[link](url)</code>とすると、投稿下部に表示されるリンクの詳細が表示されなくなります。(例では変わりありませんが…)
p URLをそのまま貼り付けるとそのままリンクとして表示されます。

h3 タイトル
p #[code 【…】]または<code>[…]</code>という行は例のようにタイトルとして表示されます。

+mfm_example('【ねこです】\nきいてますか。\nねこはそこにいます。\nよろしくおねがいします。\n\n【クレジット】\n [SCP-040-JP](http://ja.scp-wiki.net/scp-040-jp) ©Ikr_4185\nこのコンテンツは、?[クリエイティブ・コモンズ 表示-継承3.0ライセンス](http://creativecommons.org/licenses/by-sa/3.0/deed.ja)の元で利用可能です。\n\nSCP財団日本支部(SCP-JP) http://ja.scp-wiki.net/')

h2 サジェスト
p #[code #]を入力するとタグ、#[code @]を入力するとユーザー名、#[code :]を入力すると絵文字が、辞書からサジェスト(提案)されます。