---
title: ノートを投稿する
description: あなたが書くのを待っています…
layout: wiki
rank: 4
prev: /wiki/usage/follow/
next: /wiki/usage/mfm/
improve: true
---
p.
  ノートを投稿してみよう。<br>
  右上の#[+fa_fw('pencil-alt')]#[span.sr-only ペンボタン]を押すと、新規投稿フォームが現れる。<br>
  文字数制限はインスタンスごとに異なっている。文字の表示とプログラムの認識では1文字のカウントが異なる場合もあるかもしれない。<br>
  もし書いている途中で新規投稿フォームを閉じても、同じ投稿フォームから再開できる。

:markdown
  ![投稿フォーム](/files/images/imports/2019/03/post-form-with-desc.png)

h2 ノートの詳細な設定
h3 画像や動画を添付する
p.
  #[+fa_fw('upload')]#[span.sr-only アップロードボタン]でファイルをアップロードし、ノートに添付できる。<br>
  #[+fa_fw('cloud')]#[span.sr-only ドライブボタン]で過去に添付した画像を再度添付できる。
p デスクトップ版では、フォームにファイルをドロップするか、#[kbd Ctrl+V]で画像を張り付けることでも添付できる。
p 添付ファイルの表示については#[a(href='../drive/#添付ファイルの仕様'): b 添付ファイルの仕様について]も参照されたい。

h3 アンケートを作成する
p #[+fa_fw('chart-pie')]でアンケートを作成できる。
p 選択肢は10個まで作成できる。(インスタンスで変更していない場合。)

h3 投稿の内容を隠す
p #[+fa_fw('eye-slash')]#[span.sr-only 投稿の内容を隠すボタン]で注釈を付けてノートの内容を隠せる。

h3 位置情報を添付する
p #[+fa_fw('map-marker-alt')]#[span.sr-only 位置情報添付ボタン]で現在の位置情報をノートに添付できる。

h3 公開範囲を設定する
p Misskeyではノートの公開範囲を個別に設定できる。設定は以下の通り5段階で選択できる:

dl
  dt #[+fa_fw('globe')] 公開
  dd 全ての人がこのノートを閲覧できる。
  dt #[+fa_fw('home')] ホーム
  dd.
    全ての人が閲覧できるが、#[a(href='../timelines/#ホーム') ホームタイムライン]のみにこのノートが表示される。<br>
    #[a(href='../timelines/#ローカル') ローカルタイムライン]や#[a(href='../timelines/#グローバル') グローバルタイムライン]に投稿を表示したくないときに設定する。
  dt #[+fa_fw('unlock')] フォロワー
  dd フォロワーのみがこのノートを閲覧できる。
  dt #[+fa_fw('lock')] ダイレクト
  dd.
    指定したユーザーのみがこのノートを閲覧できる。<br>
    #[code +ユーザーを追加]で公開するユーザーを追加できる。
dl
  dt #[+fa_fw('heart', 'fas')] (ローカルのみ)
  dd (ローカルのみ) にするとリモートユーザーに配信されなくなる。

h3 ファイルに閲覧注意を設定する
p.
  肌色が多い画像や飯テロ画像など、公共の場で見ることが不適切だったり他人に不快な思いをさせたりしそうな画像には#[b 閲覧注意]（NSFWとも呼ばれる）を設定しよう。<br>
  閲覧注意が設定された画像は、投稿に添付した際、閲覧注意と表示され画像がいきなり表示されない。この閲覧注意画像はクリックまたはタップすることで表示できる。
p 添付した画像をタップするとメニューが現れ、ファイルに閲覧注意を付けることができる。
p.
  設定画面に「常にファイルアップロードの際に閲覧注意を設定する」オプションや「表示の際は常にファイルの閲覧注意を解く」オプションがあるので活用してみてほしい。

h2 投稿フォームの機能
h3 サジェスト
p #[code #]を入力すると#[b タグ]、#[code @]を入力すると#[b ユーザー名]、#[code :]を入力すると#[b 絵文字]が、辞書からサジェスト(提案)される。
p 絵文字サジェストにはインスタンス独自で設定したカスタム絵文字も含まれる。
