---
title: 投稿する
description: さあ、投稿してみましょう。
layout: wiki
has_child: true
rank: 4
prev: /wiki/usage/follow/
next: /wiki/usage/mfm/
improve: true
---
p.
  何か投稿してみましょう。<br>
  新しい投稿を作成するには、右上の#[+fa_fw('pencil-alt')]#[span.sr-only ペンボタン]を押します。<br>
  文字数制限は1000文字です。(インスタンスで変更していない場合。また、特殊文字が含まれる場合など表示される文字数とカウントされる文字数が異なる場合があります。)<br>
  もし書いている途中で新規投稿フォームを閉じても、同じ投稿フォームから再開できます。

+mfm_example(`Misskeyはじめました`)

h2 画像や動画を添付する
p.
  #[+fa_fw('upload')]#[span.sr-only アップロードボタン]でファイルをアップロードし、投稿に添付できます。<br>
  #[+fa_fw('cloud')]#[span.sr-only ドライブボタン]で過去に添付した画像を再度添付できます。
p デスクトップ版では、フォームにファイルをドロップしたり#[code Ctrl+V]で画像を張り付けたりできます。

h2 アンケートを作成する
p #[+fa_fw('chart-pie')]でアンケートを作成できます。
p 選択肢は10個まで作成できます。

h2 投稿の内容を隠す
p #[+fa_fw('eye-slash')]#[span.sr-only 投稿の内容を隠すボタン]で注釈を付けて投稿の内容を隠せます。

h2 位置情報を添付する
p #[+fa_fw('map-marker-alt')]#[span.sr-only 位置情報添付ボタン]で現在の位置情報を投稿に添付できます。

h2 公開範囲を設定する
p Misskeyでは投稿の公開範囲を個別に設定できます。設定は5段階で選択できます。

dl
  dt #[+fa_fw('globe')] 公開
  dd 全ての人がこの投稿を閲覧できます。
  dt #[+fa_fw('home')] ホーム
  dd.
    全ての人が閲覧できますが、#[a(href='../timelines/#ホーム') ホームタイムライン]のみにこの投稿が表示されます。<br>
    #[a(href='../timelines/#ローカル') ローカルタイムライン]や#[a(href='../timelines/#グローバル') グローバルタイムライン]に投稿を表示したくないときに設定するといいでしょう。
  dt #[+fa_fw('unlock')] フォロワー
  dd フォロワーのみがこの投稿を閲覧できます。
  dt #[+fa_fw('envelope')] ダイレクト
  dd.
    指定したユーザーのみがこの投稿を閲覧できます。<br>
    #[code +ユーザーを追加]で公開するユーザーを追加できます。
  dt #[+fa_fw('lock')] 非公開
  dd 自分のみ閲覧できます。他のユーザーは閲覧できません。

h2 画像に閲覧注意を設定する
p 画像に閲覧注意を設定します。エロ画像や飯テロ画像など、他の人が見て不快になるような画像に設定しましょう。
p (モバイルの場合は新規投稿フォームから一旦離れ、)#[+fa_fw('cloud')]ドライブを開いて設定してください。

h2 サジェスト
p #[code #]を入力するとタグ、#[code @]を入力するとユーザー名、#[code :]を入力すると絵文字が、辞書からサジェスト(提案)されます。