---
title: 投稿する
description: さあ、投稿してみよう。
layout: wiki
rank: 4
prev: /wiki/usage/follow/
next: /wiki/usage/mfm/
improve: true
---
p.
  何か投稿してみよう。<br>
  右上の#[+fa_fw('pencil-alt')]#[span.sr-only ペンボタン]を押すと、新規投稿フォームが現れる。<br>
  文字数制限はインスタンスごとに異なっている。文字の表示とプログラムの認識では1文字のカウントが異なる場合もあるかもしれない。<br>
  もし書いている途中で新規投稿フォームを閉じても、同じ投稿フォームから再開できる。

+mfm_example(`Misskeyはじめました`)

h2 投稿の詳細な設定
h3 画像や動画を添付する
p.
  #[+fa_fw('upload')]#[span.sr-only アップロードボタン]でファイルをアップロードし、投稿に添付できる。<br>
  #[+fa_fw('cloud')]#[span.sr-only ドライブボタン]で過去に添付した画像を再度添付できる。
p デスクトップ版では、フォームにファイルをドロップするか、#[kbd Ctrl+V]で画像を張り付けることでも添付できる。
p 通常、表示される画像はサーバーによってExif削除・回転・縮小が行われている。ただし、ドライブでURLを取得したりダウンロードしたりしたときはオリジナル画像が取得される。

h3 アンケートを作成する
p #[+fa_fw('chart-pie')]でアンケートを作成できる。
p 選択肢は10個まで作成できる。(インスタンスで変更していない場合。)

h3 投稿の内容を隠す
p #[+fa_fw('eye-slash')]#[span.sr-only 投稿の内容を隠すボタン]で注釈を付けて投稿の内容を隠せる。

h3 位置情報を添付する
p #[+fa_fw('map-marker-alt')]#[span.sr-only 位置情報添付ボタン]で現在の位置情報を投稿に添付できる。

h3 公開範囲を設定する
p Misskeyでは投稿の公開範囲を個別に設定できる。設定は以下の通り5段階で選択できる:

dl
  dt #[+fa_fw('globe')] 公開
  dd 全ての人がこの投稿を閲覧できる。
  dt #[+fa_fw('home')] ホーム
  dd.
    全ての人が閲覧できるが、#[a(href='../timelines/#ホーム') ホームタイムライン]のみにこの投稿が表示される。<br>
    #[a(href='../timelines/#ローカル') ローカルタイムライン]や#[a(href='../timelines/#グローバル') グローバルタイムライン]に投稿を表示したくないときに設定する。
  dt #[+fa_fw('unlock')] フォロワー
  dd フォロワーのみがこの投稿を閲覧できる。
  dt #[+fa_fw('lock')] ダイレクト
  dd.
    指定したユーザーのみがこの投稿を閲覧できる。<br>
    #[code +ユーザーを追加]で公開するユーザーを追加できる。
dl
  dt #[+fa_fw('heart', 'fas')] (ローカルのみ)
  dd (ローカルのみ) にするとリモートユーザーに配信されなくなる。

h3 ファイルに閲覧注意を設定する
p えっちな画像や飯テロ画像など、公共の場で見ることが不適切だったり他人に不快な思いをさせる画像には#[b 閲覧注意]を設定しよう。
p
  | (モバイルの場合は新規投稿フォームから一旦離れ、)
  a(href="../drive/") #[+fa_fw('cloud')]ドライブ
  | を開いて設定できる。
  br
  | なお、投稿した後からも設定できる。
p.
  設定には「常にファイルアップロードの際に閲覧注意を設定する」オプションや「投稿表示の際は常にファイルの閲覧注意を解く」オプションがあるため、活用されたい。

h2 投稿フォームの機能
h3 サジェスト
p #[code #]を入力すると#[b タグ]、#[code @]を入力すると#[b ユーザー名]、#[code :]を入力すると#[b 絵文字]が、辞書からサジェスト(提案)される。
p 絵文字サジェストにはインスタンス独自で設定したカスタム絵文字も含まれる。
