---
title: タイムラインと操作
description: 4種類あるメインのタイムライン及びその他のタイムライン、ホーム・デッキの操作について。
layout: wiki
rank: 1
prev: /wiki/usage/first
next: /wiki/usage/follow
improve: true
---
p 4種類あるメインのタイムライン及びその他のタイムライン、ホーム・デッキの操作について。

h2 各画面でのタイムライン操作
:markdown
  ### ホーム（デスクトップ）
  ![Home](/files/images/imports/2019/03/chtl-home.jpg)

  タイムラインの上部で各タイムラインに切り替えられる。

:markdown
  ### ホーム（モバイル）
  ![Mobile](/files/images/imports/2019/03/chtl-mobile.jpg)

  最上部中央のタイトルをタップするとタイムラインが切り替わる。

:markdown
  ### デッキ

  ![Deck](/files/images/imports/2019/03/chtl-deck.jpg)

  右端の#[+fa_fw('plus')]#[span.sr-only プラス]をクリックすると新たにタイムラインを追加できる。

p.
  タイムラインの操作部分は上部にまとめられている。<br>
  タイトルをクリックすると最新のノートに移動する。<br>
  タイトル右の#[+fa_fw('caret-down')]#[span.sr-only さんかく]をクリックするかタイトルバーを右クリックするとメニューが表示され、各種操作を行える。<br>
  タイムラインが縦にまとまると、タイトル左に#[+fa_fw('angle-up')]#[span.sr-only やじるし]が表示され、クリックするとタイムラインが折りたたまれる。

h2 メイン
p MisskeyはActivityPubのサーバー間通信機能によって他のインスタンスのユーザーをフォローすることができる。  
p より多くの人と繋がりながら投稿を見逃さないために、Misskeyはタイムラインを主に4種類持っている。

h3 #[+fa_fw('home')]ホーム
p 自分がフォローした人のノートが表示される。

h3 #[+fa_fw('comments')]ローカル
:markdown
  インスタンス内のユーザー全員の公開ノートが表示される。  
  [公開設定](post#公開範囲を設定する)が「ホーム」以下に設定されたノートは表示されない。

h3 #[+fa_fw('share-alt')]ソーシャル
:markdown
  ホームとローカルを合わせたタイムライン。  
  自分がフォローした人とインスタンス内のユーザー全員の公開ノートが表示される。

h3 #[+fa_fw('globe')]グローバル
:markdown
  インスタンスが受信するすべての公開ノートを表示する。  
  公開設定が「ホーム」に設定されたノートは表示されない。

h2 個別
h3 #[+fa_fw('list')]リスト
:markdown
  [リスト](list)に登録しているユーザーのノートが表示される。  
  リストタイムラインはホーム及びデッキで閲覧できる。

h3 #[+fa_fw('hashtag')]ハッシュタグ
:markdown
  指定したハッシュタグが付いたノートが表示される。  
  [→ **ハッシュタグについてもっと知る**](hashtag)

h3 #[+fa_fw('at')]あなた宛て
p 自分宛のメンションがついたノートや自分のノートへの返信が表示される。

h3 #[+fa_fw('lock')]ダイレクト投稿
p 公開範囲「ダイレクト」で公開先に自分が含まれているノートが表示される。

:markdown
  ## 各種タイムライン
  URLを入力するとオブジェクトごとのタイムラインを見ることができる。  
  手動で更新する必要がある。

h3 #[+fa_fw('hashtag')]タグ
p.
  特定のハッシュタグが付けられたノートが表示される。<br>
  ハッシュタグページ(URL: `/tags/#hashtag`)で見ることができる。

h3 #[+fa_fw('user')]ユーザー
p.
  特定のユーザーのノートが表示される。<br>
  ユーザーページ(URL: `/@username`)で見ることができる。

h3 #[+fa_fw('search')]検索
p.
  検索したい文字列を検索フォームに入力すると、その文字列が含まれたノートがタイムラインに表示される。<br>
  処理に多くのサーバー能力が必要なため、無効になっているインスタンスも多い。