---
title: join.misskey.page
noindex: true
layout: root
---
div.container(style="background-color: #fff")
  p Redirecting. Please wait.
  p
    a(href="/ja/") Japanese
    |  / 
    a(href="/en/") English
  p(style="color: #fff")= site.description
  p
    span.font-weight-light(style="color: #fff") mi
    span.font-weight-normal(style="color: #fff") ss
    span.font-weight-bold(style="color: #fff") k
    span.h1.font-weight-normal(style="color: #fff") e
    span.h1.font-weight-bold(style="color: #fff") y
