---
title: joinmisskey.github.io
noindex: true
layout: root
---
div= site.description
span.font-weight-light mi
span.font-weight-normal ss
span.font-weight-bold k
span.h1.font-weight-normal e
span.h1.font-weight-bold y
p
  a(href="/ja/") 日本語
  |  / 
  a(href="/en/") English
