---
title: joinmisskey.github.io
noindex: true
layout: root
---
div.bg-white.container
  p Redirecting. Please wait.
  p
    a(href="/ja/") Japanese
    |  / 
    a(href="/en/") English
  p.text-white= site.description
  p
    span.font-weight-light.text-white mi
    span.font-weight-normal.text-white ss
    span.font-weight-bold.text-white k
    span.h1.font-weight-normal.text-white e
    span.h1.font-weight-bold.text-white y
