---
title: joinmisskey.github.io
layout: root
---
div= site.description
div#ini
  svg(viewBox="0 0 50 50").
    <path fill=#{site.theme_color.primary} d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z" />
.font-weight-light Aあ「
.font-weight-normal Aあ「
.font-weight-bold Aあ「
.h1.font-weight-normal Aあ「
.h1.font-weight-bold Aあ「