extends ./default.pug

block main
  #main.padding.row
    .sade-outer.d-none.d-xl-block.col-xl-3.order-1
      +ad({ class: "p-0 sade d-none d-xl-block", slot: "2773092095", format: "vertical", allowFullWidth: "false" })
    .p-0.col-12.px-xl-2.col-xl-9.order-0
      .container.pt-5.pb-3.mb-2.bg-white.main-shadow
        block contents
        block after_article
          .small.text-right.mt-3
            +editLink()
    .py-3.col-12.px-0.w-100.order-2.text-center
      +ad({ class: "container p-0", slot: "4446014841", allowFullWidth: "false" })
