extends ./default.pug

block main
  #main.padding
    .container.py-5.bg-white.main-shadow
      - let mtime = new Date(page.meta.mtime)
      article#article_maincontent.bg-white
        header.w-100
          h1= page.attributes.title
        if(headings.length > 1)
          #article_sidenav.my-2.p-3.bg-light
            +toc( headings, 2, "ul", "list-unstyled ml-3 page-index")
        section.pt-2.pb-4!= main_html

      block after_article