extends ./default.pug

block main
  #main
    .container.py-5
      h1= page.attributes.title
      !=main_html
      ul.simpleindex.list-unstyled
        +lis_of_dir(page.meta.permalink, {s: true, unstyled: true})