extends ./article-base.pug

block contents
  h1= page.attributes.title
  !=mainHtml
  ul.simpleindex.list-unstyled
    +ad({layoutKey: "-i1-6+1v-2p+a", slot: "9171166830", format: "fluid"})
    +lis_of_dir(page.meta.permalink, {s: true, unstyled: true})
    +ad({layoutKey: "-i1-6+1v-2p+a", slot: "9171166830", format: "fluid"})
